﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Organisation/OrganisationMaster.master" AutoEventWireup="true" CodeFile="Organisation_menu.aspx.cs" Inherits="Organisation_Organisation_menu" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
   <div class="col-md-12">
        <ul class="document">            
            <li onclick="javascript:SubmitFrm('OrgCityList.aspx')">
                <img src="images/colleagus/1.jpg"></img>
                <h1 style="font-size: 20px; margin-top: 25px !important;">CityList</h1>
            </li>
            <li onclick="javascript:SubmitFrm('OrgCmsList.aspx')">
                <img src="images/colleagus/1.jpg"></img>
                <h1 style="font-size: 20px; margin-top: 25px !important;">CmsList</h1>
            </li>
            <li onclick="javascript:SubmitFrm('OrgCompetenceList.aspx')">
                <img src="images/colleagus/1.jpg"></img>
                <h1 style="font-size: 20px; margin-top: 25px !important;">CompetenceList</h1>
            </li>
            <li onclick="javascript:SubmitFrm('OrgCountryList.aspx')">
                <img src="images/colleagus/1.jpg"></img>
                <h1 style="font-size: 20px; margin-top: 25px !important;">CountryList</h1>
            </li>
            <li onclick="javascript:SubmitFrm('OrgDepartmentsList.aspx')">
                <img src="images/colleagus/1.jpg"></img>
                <h1 style="font-size: 20px; margin-top: 25px !important;">DepartmentsList</h1>
            </li>
            <li onclick="javascript:SubmitFrm('OrgDivisionList.aspx')">
                <img src="images/colleagus/1.jpg"></img>
                <h1 style="font-size: 20px; margin-top: 25px !important;">DivisionList</h1>
            </li>
            <li onclick="javascript:SubmitFrm('OrgIndustryList.aspx')">
                <img src="images/colleagus/1.jpg"></img>
                <h1 style="font-size: 20px; margin-top: 25px !important;">IndustryList</h1>
            </li>
            <li onclick="javascript:SubmitFrm('OrgJobTypeList.aspx')">
                <img src="images/colleagus/1.jpg"></img>
                <h1 style="font-size: 20px; margin-top: 25px !important;">JobTypeList</h1>
            </li>
            <li onclick="javascript:SubmitFrm('OrgStateList.aspx')">
                <img src="images/colleagus/1.jpg"></img>
                <h1 style="font-size: 20px; margin-top: 25px !important;">StateList</h1>
            </li>
            <li onclick="javascript:SubmitFrm('EmployeeList.aspx')">
                <img src="images/colleagus/1.jpg"></img>
                <h1 style="font-size: 20px; margin-top: 25px !important;">EmployeeList</h1>
            </li>
            <li onclick="javascript:SubmitFrm('EmployerList.aspx')" id="Employer" runat="server">
                <img src="images/colleagus/1.jpg"></img>
                <h1 style="font-size: 20px; margin-top: 25px !important;">EmployerList</h1>
            </li>
             <li onclick="javascript:SubmitFrm('CompanyDoc.aspx')">
                <img src="images/colleagus/1.jpg"></img>
                <h1 style="font-size: 25px; margin-top: 25px !important;">Company Doc</h1>
            </li>
            <li onclick="javascript:SubmitFrm('ContactList.aspx')">
                <img src="images/colleagus/1.jpg"></img>
                <h1 style="font-size: 25px; margin-top: 25px !important;">Contact</h1>
            </li>
          
        </ul>
    </div>

    <script type="text/javascript">
        function SubmitFrm(cn) {
            window.location = cn;
        }
    </script>
</asp:Content>

