﻿.commonerrormsg
{
    color: Red;
    font-size: 12px;
    text-decoration: none;
}
.starValidation
{
    color: #FF0000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
}

.linkButtonWhiteStyle
{
    color: White;
    text-decoration: none;
}



.linkButtonWhiteStyle:hover
{
    color: White;
    text-decoration: none;
}

.addbuttonallingright
{
    text-align: right;
}

.indicatesRequireFiled
{
    color: #FF0000;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    text-align: right;
    width: 98%;
}

.col-md-10
{
    width: 70%;
}
.sendAlarmPopUpSubPopUp
{
    width: 400px;
    height: 238px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    border: gray 5px solid;
    min-height: 200px;
    -webkit-box-shadow: 0px 0px 5px 2px #b3b3b3;
    box-shadow: 0px 0px 5px 2px #b3b3b3;
}
.popup_bg
{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff;
    border: gray 5px solid;
    min-height: 200px;
    width: 750px;
    height: 450;
    -webkit-box-shadow: 0px 0px 5px 2px #b3b3b3;
    box-shadow: 0px 0px 5px 2px #b3b3b3;
}
.popupCloseIconStyle
{
    text-align: right;
    cursor: pointer;
}
.sendAlarmPopUpLable
{
    font-size: 17px;
    text-decoration: none;
}
   .fancy-green .ajax__tab_header
        {
            background: url(../../images/green_bg_Tab.png) repeat-x;
            cursor: pointer;
        }
        .fancy-green .ajax__tab_hover .ajax__tab_outer, .fancy-green .ajax__tab_active .ajax__tab_outer
        {
            background: url(../../images/green_left_Tab.png) no-repeat left top;
        }
        .fancy-green .ajax__tab_hover .ajax__tab_inner, .fancy-green .ajax__tab_active .ajax__tab_inner
        {
            background: url(../../images/green_right_Tab.png) no-repeat right top;
        }
        .fancy .ajax__tab_header
        {
            font-size: 13px;
            font-weight: bold;
            color: #000;
            font-family: sans-serif;
        }
        .fancy .ajax__tab_active .ajax__tab_outer, .fancy .ajax__tab_header .ajax__tab_outer, .fancy .ajax__tab_hover .ajax__tab_outer
        {
            height: 46px;
        }
        .fancy .ajax__tab_active .ajax__tab_inner, .fancy .ajax__tab_header .ajax__tab_inner, .fancy .ajax__tab_hover .ajax__tab_inner
        {
            height: 46px;
            margin-left: 16px; /* offset the width of the left image */
        }
        .fancy .ajax__tab_active .ajax__tab_tab, .fancy .ajax__tab_hover .ajax__tab_tab, .fancy .ajax__tab_header .ajax__tab_tab
        {
            margin: 16px 16px 0px 0px;
        }
        .fancy .ajax__tab_hover .ajax__tab_tab, .fancy .ajax__tab_active .ajax__tab_tab
        {
            color: #fff;
        }
        .fancy .ajax__tab_body
        {
            font-family: Arial;
            font-size: 10pt;
            border-top: 0;
            border: 1px solid #999999;
            padding: 8px;
            background-color: #ffffff;
        }




