﻿.Tab .ajax__tab_header {
    clear: both;
    float: left;
    margin: 0px 0px 0px;
    padding: 0px;
    width: 200px;
    height: 45px;
    font-family: Geneva,Arial,Helvetica,sans-serif;
    text-transform : uppercase;
    font-size:13px;
    font-weight:bold;
}
/*Body*/
.Tab .ajax__tab_body {
    background-color:white;
}
/*Tab Active*/

.Tab .ajax__tab_active .ajax__tab_tab {
    color: #ffffff;
    background-color: #54C0DC;
    padding-top: 10px;    
    height: 45px;
}

    .Tab .ajax__tab_active .ajax__tab_tab a {
        border-top: 9px solid #54C0DC;
        border-left: 9px solid transparent;
        border-right: 9px solid transparent;
        position: absolute;
        margin-top: 35px;
        margin-left: -20px;
    }

.Tab .ajax__tab_active .ajax__tab_inner {
    color: #ffffff;
    background-color: #54C0DC;
    padding-left: 20px;
}

.Tab .ajax__tab_active .ajax__tab_outer {
    color: #ffffff;
    background-color: #54C0DC;
    padding-right: 20px;
}
/*Tab Hover*/
.Tab .ajax__tab_hover .ajax__tab_tab {
    color: #ffffff;
    background-color: #54C0DC;
    padding-top: 10px;
    height: 45px;
}


.Tab .ajax__tab_hover .ajax__tab_inner {
    color: #ffffff;
    background-color: #54C0DC;
    padding-left: 20px;
}

.Tab .ajax__tab_hover .ajax__tab_outer {
    color: #ffffff;
    background-color: #54C0DC;
    padding-right: 20px;
}
/*Tab Inactive*/
.Tab .ajax__tab_tab {
    color: #ffffff;
    background-color: #525B6A;
    padding-top: 10px;
    float: left;
    width: 185px;
    height: 45px;
}


.Tab .ajax__tab_inner {
    color: #ffffff;
    background-color: #525B6A;
    padding-left: 20px;
}

.Tab .ajax__tab_outer {
    color: #ffffff;
    background-color: #525B6A;
    padding-right: 20px;
}
