﻿<%@ Page Title="" Language="C#" MasterPageFile="~/webadmin/AdminMasterPage.master" AutoEventWireup="true" CodeFile="Department.aspx.cs" Inherits="webadmin_Department" 
culture="auto" meta:resourcekey="PageResource1" uiculture="auto" %>

<%@ Register Assembly="AjaxControlToolkit" Namespace="AjaxControlToolkit" TagPrefix="cc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

<asp:Label runat="server" ID="lblMsg" CssClass="commonerrormsg" 
        meta:resourcekey="lblMsgResource1"></asp:Label>
 <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
                <div class="indicatesRequireFiled">
                    *<%-- <%= CommonMessages.Indicatesrequiredfield%>--%>
                    <asp:Literal ID="Literal9" runat="server" meta:resourcekey="Indicatesrequiredfield" enableviewstate="false"/>
                </div>
                <div class="widget box">
                    <div class="widget-header">
                        <h4>
                            <i class="icon-reorder"></i>
                            <asp:Label runat="server" ID="lblDataDisplayTitle" Text="Department" 
                                meta:resourcekey="lblDataDisplayTitleResource1"></asp:Label>
                        </h4>
                    </div>
                    <div class="widget-content">                      
                        <div class="form-horizontal row-border">
                        <div class="form-group">
                                <label class="col-md-2 control-label">
                                <%--   <%= CommonMessages.ParentDepartment%>--%>
                                    <asp:Literal ID="Literal1" runat="server" meta:resourcekey="ParentDepartment" enableviewstate="false"/>:<span class="starValidation"></span></label>
                                <div class="col-md-10">
                                   <asp:DropDownList ID="ddlDepartment" runat="server" Style="width: 100px; height: 32px;
                                            display: inline;" Visible="False" 
                                        meta:resourcekey="ddlDepartmentResource1">
                                        </asp:DropDownList>
                                         <asp:TreeView ID="TreeView1" runat="server" ShowCheckBoxes="All" onclick="client_OnTreeNodeChecked(event)"
                                                OnTreeNodePopulate="TreeView_TreeNodePopulate" Style="cursor: pointer"                                               
                                    ShowLines="True" CollapseImageUrl="~/images/index.jpg" 
                                        ExpandImageUrl="~/images/index2.jpg" LineImagesFolder="~/TreeLineImages" 
                                        meta:resourcekey="TreeView1Resource1"/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                   <%--  <%= CommonMessages.DepartmentName%>--%>
                                     <asp:Literal ID="Literal2" runat="server" meta:resourcekey="DepartmentName" enableviewstate="false"/>:<span class="starValidation">*</span></label>
                                <div class="col-md-10">
                                    <asp:TextBox runat="server" ID="txtDepartmentName" MaxLength="50" 
                                        CssClass="form-control" meta:resourcekey="txtDepartmentNameResource1" />                                   
                                    <asp:RequiredFieldValidator ID="RequiredFieldValidator5" runat="server" ControlToValidate="txtDepartmentName"
                                        ErrorMessage="Please enter Department name." CssClass="commonerrormsg" Display="Dynamic"
                                        ValidationGroup="chk" meta:resourcekey="RequiredFieldValidator5Resource1"></asp:RequiredFieldValidator>
                                </div>
                            </div>
                                <div class="form-horizontal row-border">
                                    <div class="btn-toolbar">                                    
                                        <asp:Button runat="server" ID="btnsubmit" Text="Save" CssClass="btn btn-success"
                                             ValidationGroup="chk" OnClick="btnsubmit_click" 
                                            meta:resourcekey="btnsubmitResource1"/>
                                        <asp:Button runat="server" ID="btnCancel" Text="Cancel" CssClass="btn" ValidationGroup="chk"
                                            CausesValidation="False" OnClick="btnCancel_click" 
                                            meta:resourcekey="btnCancelResource1"/>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--=== no-padding ===-->
    <div class="row">
    </div>
    <div class="row">
    </div>
    <!-- /no-padding and table-tabletools -->
    <!--=== no-padding and table-colvis ===-->
    <div class="row">
    </div>
    <!-- /no-padding and table-colvis -->
    <!--=== Horizontal Scrolling ===-->
    <div class="row">
    </div>
    <!-- /Normal -->
    <!-- /Page Content -->
    <script>
        function client_OnTreeNodeChecked(event) {
            
            var treeNode = event.srcElement || event.target;
            if (treeNode.tagName == "INPUT" && treeNode.type == "checkbox") {
                if (treeNode.checked) {
                    uncheckOthers(treeNode.id);
                }
            }
        }

        function uncheckOthers(id) {
            var elements = document.getElementsByTagName('input');
            // loop through all input elements in form
            for (var i = 0; i < elements.length; i++) {
                if (elements.item(i).type == "checkbox") {
                    if (elements.item(i).id != id) {
                        elements.item(i).checked = false;
                    }
                }
            }
        }
    </script>
    <script>
        $(document).ready(function () {
            "use strict";

            App.init(); // Init layout and core plugins
            Plugins.init(); // Init all plugins
            FormComponents.init(); // Init all form-specific plugins
        });
    </script>
</asp:Content>

