﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Organisation/Employee.master" AutoEventWireup="true" CodeFile="Employee_menu.aspx.cs" Inherits="Organisation_Employee_menu" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <div class="col-md-12">
        <ul class="document">
            <li onclick="javascript:SubmitFrm('Profile.aspx')">
                <img src="images/colleagus/1.jpg"></img>
                <h1 style="font-size: 25px; margin-top: 25px !important;">Profile</h1>
            </li>

             <li onclick="javascript:SubmitFrm('EmpCompetence.aspx')">
                <img src="images/colleagus/1.jpg"></img>
                <h1 style="font-size: 25px; margin-top: 25px !important;">Employee Skill</h1>
            </li>

             <li onclick="javascript:SubmitFrm('CompanyDoc.aspx')">
                <img src="images/colleagus/1.jpg"></img>
                <h1 style="font-size: 25px; margin-top: 25px !important;">Company Doc</h1>
            </li>
            <li onclick="javascript:SubmitFrm('ContactList.aspx')">
                <img src="images/colleagus/1.jpg"></img>
                <h1 style="font-size: 25px; margin-top: 25px !important;">Contact</h1>
            </li>

        </ul>
    </div>

    <script type="text/javascript">
        function SubmitFrm(cn) {
            window.location = cn;
        }
    </script>
</asp:Content>

