﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="Employee.master.cs" Inherits="Organisation_Employee" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "https://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE html>
<html lang="en">
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AskingCulture</title>

    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css" />

    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
    <!-- Bootstrap -->
    <link href="../Scripts/Font-Awesome-4-7/css/font-awesome.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <%--  <link rel="stylesheet" href="css/nv.css" type="text/css" />--%>
    <!-- VISITOR CHART -->
    <link rel="stylesheet" type="text/css" media="all" href="css/daterangepicker-bs3.css" />
    <!-- Date Range Picker -->
    <link rel="stylesheet" href="css/style.css" type="text/css" />
    <!-- Style -->
    <link rel="stylesheet" href="css/responsive.css" type="text/css" />
    <link href="../Scripts/tooltipster-master/dist/css/tooltipster.main.css" rel="stylesheet" />
    <link href="../Scripts/tooltipster-master/dist/css/tooltipster.bundle.css" rel="stylesheet" />

    <link href="../Scripts/tooltipster-master/dist/css/tooltipster.main.css" rel="stylesheet" />
    <link href="../Scripts/tooltipster-master/dist/css/tooltipster.bundle.min.css" rel="stylesheet" />

    <link href="../Scripts/tooltipster-master/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-shadow.min.css" rel="stylesheet" />
    <link href="../Scripts/tooltipster-master/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css" rel="stylesheet" />
    <link href="../Scripts/tooltipster-master/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-light.min.css" rel="stylesheet" />
    <link href="../Scripts/tooltipster-master/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-noir.min.css" rel="stylesheet" />
    <link href="../Scripts/tooltipster-master/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-punk.min.css" rel="stylesheet" />

    <style type="text/css">
        .amaran.user img {
            height: 100%;
            max-width: 100%;
            background: white;
        }
    </style>
    <style type="text/css">
        a:focus {
            outline: none;
        }

        a::-moz-focus-inner {
            border: 0;
        }
    </style>
    <!-- Responsive -->
    <!-- Script -->
   <%-- <script src="js/jquery-1.js"></script>--%>
      <script src="js/jquery-1.10.2.js"></script>
    <script type="text/javascript" src="js/d3.js"></script>
    <!-- VISITOR CHART -->
    <%-- <script type="text/javascript" src="js/nv.js"></script>--%>
    <!-- VISITOR CHART -->
    <%--<script type="text/javascript" src="js/live-updating-chart.js"></script>--%>
    <!-- VISITOR CHART -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <!-- Bootstrap -->
   <%-- <script type="text/javascript" src="js/script.js?v=2"></script>--%>
    <!-- Script -->
    <script src="js/jquery.js"></script>

    <script src="js/skycons.js"></script>
    <!-- Skycons -->
    <script src="js/enscroll-0.js"></script>
    <!-- Custom Scroll bar -->
    <script src="js/moment.js"></script>
    <!-- Date Range Picker -->
    <script src="js/daterangepicker.js"></script>
    <!-- Date Range Picker -->
    <script src="js/carousal-plugins.js"></script>
    <!-- Carousal Widget -->
    <%-- <script src="js/ticker.js"></script>--%>
    <!-- Ticker -->
    <%--  <script src="js/html5lightbox.js"></script>--%>

    <%-- <script src="js/jquery.smartWizard.js"></script>--%>
    <!-- Wizard Form -->
    <!-- Line & Graph CHart -->
    <link href="js/css/amaran.min.css" rel="stylesheet" />
    <link href="js/css/animate.min.css" rel="stylesheet" />
    <%--    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js" type="text/javascript"></script>--%>
    <%-- <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js" type="text/javascript"></script>--%>

    <script src="../Scripts/sMain.js?version=1.0" type="text/javascript"></script>
    <%-- <script src="js/jquery.amaran.min.js"></script>--%>
    <script src="../Scripts/notify.js"></script>
    <%--  <script src="https://hakanersu.github.io/AmaranJS/dist/js/jquery.amaran.js"></script>--%>
    <script src="../assets/js/jquery.noty.packaged.js"></script>
    <script src="../assets/js/OnlyAlphabets.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            // Smart Wizard 	
            //$('#wizardwizard').smartWizard();

            //function onFinishCallback() {
            //    $('#wizard').smartWizard('showMessage', 'Finish Clicked');
            //    //alert('Finish Clicked');
            //}

        }); function generate(type, text, layout) {
            var n = noty({
                text: text,
                type: type,
                dismissQueue: true,
                timeout: 10000,
                closeWith: ['click'],
                layout: layout,
                theme: 'defaultTheme',
                maxVisible: 10
            });
            console.log('html: ' + n.options.id);
        }

        function generateTimer(type, text, layout, timeout) {
            var n = noty({
                text: text,
                type: type,
                dismissQueue: true,
                timeout: timeout,
                closeWith: ['click'],
                layout: layout,
                theme: 'defaultTheme',
                maxVisible: 10
            });
            console.log('html: ' + n.options.id);
        }

        function generate1(type, text) {
            var n = noty({
                text: text,
                type: type,
                dismissQueue: true,
                timeout: 10000,
                closeWith: ['click'],
                layout: "topCenter",
                theme: 'defaultTheme',
                maxVisible: 10
            });
            console.log('html: ' + n.options.id);
        }

        function generateAll() {
            generate('alert', 'alert');
            generate('information', 'information');
            generate('error', 'e');
            generate('warning', 'w');
            generate('notification', 'n');
            generate('success', 's');
        }
    </script>
    <script>


        //Cookie:

        // Cookies
        function createCookie(name, value, days) {
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                var expires = "; expires=" + date.toGMTString();
            }
            else var expires = "";

            document.cookie = name + "=" + value + expires + "; path=/";
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function eraseCookie(name) {
            createCookie(name, "", -1);
        }
        var CollapseClick = 0;
        var shouldOpen;
        function CollapseCalled() {
            CollapseClick = 1;
            //read Cookie 
            if ($(".moreText").text() == "Expand") {
                createCookie("CollapseClick", "Collapse", 1);
            } else {
                createCookie("CollapseClick", "Expand", 1);
            }

        }

        function CollapseCalledSubmenu() {
            if ($(".moreText1").text() == "Expand") {
                createCookie("CollapseClickSubmenu", "Collapse", 1);
            } else {
                createCookie("CollapseClickSubmenu", "Expand", 1);
            }
        }

        function SetExpandCollapse() {

            if (readCookie("CollapseClick") === null || readCookie("CollapseClick") === "") {

                createCookie("CollapseClick", "Expand", 1);
            }
            var status = readCookie("CollapseClick");

            if (status == "Collapse") {
                $(".moreText").text("Collapse");
                $('.nestMenu').show("slow");

                if (readCookie("CollapseClickSubmenu") !== null || readCookie("CollapseClickSubmenu") !== "") {
                    var statusSubmenu = readCookie("CollapseClickSubmenu");
                    if (statusSubmenu == "Collapse") {
                        $('.nestsubMenu').show("slow");
                        $(".moreText1").text("Collapse");
                    }
                    else {
                        $('.nestsubMenu').hide("slow");
                        $(".moreText1").text("Expand");
                    }

                }

            }
            else {

                eraseCookie("CollapseClickSubmenu");
                $(".moreText").text("Expand");
                $('.nestMenu').hide("slow");
                $(".moreText1").text("Expand");
                $('.nestsubMenu').hide("slow");
            }

        }
    </script>
    <link href="css/css_002.css" type="text/css" rel="stylesheet">
    <style type="text/css">
        #html5-text {
            color: #333;
            font-size: 16px;
            font-family: Armata,sans-serif,Arial;
            overflow: hidden;
        }

        .html5-error {
            text-align: center;
            color: #ff0000;
            font-size: 14px;
            font-family: Arial, sans-serif;
        }

        .commonerrormsg {
            color: red;
        }

        #html5-text {
            color: #333;
            font-size: 16px;
            font-family: Armata,sans-serif,Arial;
            overflow: hidden;
        }

        .html5-error {
            text-align: center;
            color: #ff0000;
            font-size: 14px;
            font-family: Arial, sans-serif;
        }

        .edit_style {
            background-image: url('../assets/img/icons/iconsweets/is/dark/pencil-small.png');
            background-repeat: no-repeat;
            color: #0B5D99;
        }

        .delete_style {
            /*trashcan.png*/
            background-image: url('../assets/img/icons/iconsweets/is/dark/trashcan.png');
            background-repeat: no-repeat;
            color: #0B5D99;
        }
    </style>
    <link href="css/ajaxtab.css" rel="stylesheet" />
    <link href="css/css_002.css" type="text/css" rel="stylesheet" />
    <script type="text/javascript">
        $('ul li').click(function () {
            $(this).addClass('active_page').siblings().removeClass('active_page');
        });


    </script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <%--START |Saurin |Model popup dilougue--%>
        <asp:HiddenField ID="hdnInvitation" meta:resourcekey="resourceInvitation" runat="server"></asp:HiddenField>
        <asp:HiddenField ID="hdnAccepted" meta:resourcekey="resourceAccepted" runat="server"></asp:HiddenField>
        <asp:HiddenField ID="hdnProHelp" meta:resourcekey="resourceProHelp" runat="server"></asp:HiddenField>
        <asp:HiddenField ID="hdnInvite" meta:resourcekey="resourceInvite" runat="server"></asp:HiddenField>
        <asp:HiddenField ID="hdnFrom" meta:resourcekey="resourceFrom" runat="server" Value="From:"></asp:HiddenField>
        <asp:HiddenField ID="hdnAcceptComp" meta:resourcekey="resourceAcceptComp" runat="server"></asp:HiddenField>

         <asp:HiddenField ID="hdnActivityRequest" meta:resourcekey="HasRequestForActivity" runat="server"></asp:HiddenField>

         <asp:HiddenField ID="hdnActivityComplete" meta:resourcekey="resActivityComplete" runat="server"></asp:HiddenField>
        <asp:HiddenField ID="hdnActivityReRequest" meta:resourcekey="resActivityReRequest" runat="server"></asp:HiddenField>
         <asp:HiddenField ID="hdnPDPApprove" meta:resourcekey="resPDPApprove" runat="server"></asp:HiddenField>
          <asp:HiddenField ID="hdnNewMeetingPublish" meta:resourcekey="resNewMeetingPublish" runat="server"></asp:HiddenField>
          <asp:HiddenField ID="hdnNewMeetingDoc" meta:resourcekey="resNewMeetingDocPublish" runat="server"></asp:HiddenField>
          <asp:HiddenField ID="hdnGeneralDialogue" meta:resourcekey="resGeneralDialogue" runat="server"></asp:HiddenField>
         <asp:HiddenField ID="hdnApproveActivityRequest" meta:resourcekey="resApproveActivityRequest" runat="server"></asp:HiddenField>
         <asp:HiddenField ID="hdnApproveActivityReject" meta:resourcekey="resApproveActivityReject" runat="server"></asp:HiddenField>
         <asp:HiddenField ID="hdnApproveActivityComplete" meta:resourcekey="resApproveActivityComplete" runat="server"></asp:HiddenField>
         <asp:HiddenField ID="hdnQuestionPublish" meta:resourcekey="resQuestionPublish" runat="server"></asp:HiddenField>
        <asp:HiddenField ID="hdnCompanyDirPublish" meta:resourcekey="resCompanyDirPublish" runat="server"></asp:HiddenField>

        <asp:HiddenField ID="hdnNotiMessageLabel" meta:resourcekey="NewNotiMessageResource" runat="server" Value="You Have"></asp:HiddenField>
        <asp:HiddenField ID="hdnNewNotification" meta:resourcekey="NewNotificationResource" runat="server" Value="New Notifications"></asp:HiddenField>
        <asp:HiddenField ID="hdnNewMessage" meta:resourcekey="NewMessageResource" runat="server" Value="New Messages"></asp:HiddenField>
        <asp:HiddenField ID="MsgChat" meta:resourcekey="MsgChat" runat="server" Value="MsgChat"></asp:HiddenField>
        <asp:HiddenField ID="hdnMessage" meta:resourcekey="MessageSubjectResource" runat="server" Value="Click here to check your message."></asp:HiddenField>
        <asp:HiddenField ID="hdnLoginUserIDType" runat="server" Value="0"></asp:HiddenField>
        <div id="saveSuccessDilouge" title="Success" class="modelDilougBox" style="display: none">
            <p>
                Save Successfully!
            </p>
        </div>
        <%--END--%>
        <div class="responsive-menu">
            <div class="responsive-menu-dropdown blue">
                <a title="" class="blue">MENU <i class="fa fa-align-justify"></i></a>
            </div>
            <ul>
                <div class="menu-profile" id="intro3">
                    <asp:Image ID="img" ImageUrl="~/Organisation/images/sign-in1.jpg" runat="server"
                        meta:resourcekey="imgResource1" Style="border: 1px solid #000; max-width: 64px; max-height: 64px;" />
                    <div class="menu-profile-hover1">
                        <h3 style="color: #fff; font-style: normal;">
                            <i><span runat="server" id="span1"></span></i>
                            <p>
                                <i class="fa fa-map-marker"></i><span runat="server" id="span4"></span>
                            </p>
                            <%--<p style="color: #fff; font-style: normal;"><i class="fa fa-map-marker"></i>&nbsp; LONDON, UNITED KINGDOM </p>--%>
                            <a href="Login.aspx" style="color: #fff; font-style: normal;" title=""><i class="fa fa-power-off"></i></a>
                            <div class="menu-profile-btns">
                                <h3>
                                    <i class="fa fa-user blue"></i><a href="Profile.aspx" style="color: white;" title="">
                                        <asp:Literal ID="Literal1" runat="server" meta:resourcekey="Profile1" EnableViewState="false" /><%--<%= Commons.Profile%>--%>
                                    </a>
                                </h3>
                                <p class="last-login">
                                    <span runat="server" id="login" />
                                </p>
                                <h3>
                                    <%--<i class="fa fa-inbox pink"></i>
                                <a href="#" title="">INBOX </a>--%>
                                </h3>
                            </div>
                        </h3>
                    </div>
                </div>
                <li><a href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>Library.aspx"
                    title=""><i class="fa fa-book"></i>
                    <asp:Literal ID="Literal5" runat="server" meta:resourcekey="Library" EnableViewState="false" /></a></li>
                <li><a href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>ForumAll.aspx"
                    title=""><i class="fa fa-users"></i>Knowledge Share</a> </li>
                <li><a href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>setting.aspx"
                    title=""><i class="fa fa-gears"></i>
                    <asp:Literal ID="Literal8" runat="server" meta:resourcekey="Settings" EnableViewState="false" />
                </a></li>

                <li><a href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>myCompetence.aspx"
                    title="11"><i class="fa fa-th"></i>
                    <asp:Literal ID="Literal9" runat="server" meta:resourcekey="MyCompetence" EnableViewState="false" /></a></li>

                <%--<li><a href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>Chatroom.aspx"
                title=""><i class="fa fa-book"></i>--%>
                <li><a href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>chart.aspx"
                    title=""><i class="fa fa-book"></i>
                    <asp:Literal ID="Literal10" runat="server" meta:resourcekey="Message" EnableViewState="false" /></a></li>
                <%--  <li><a href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>Calendar.aspx"
                title=""><i class="fa fa-calendar"></i>Calendar</a></li>--%>
                <li><a href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>OrgLogout.aspx"
                    title="" class="OrgLogout"><i class="fa fa-power-off"></i>
                    <asp:Literal ID="Literal12" runat="server" meta:resourcekey="LogOut" EnableViewState="false" /></a></li>
            </ul>
        </div>
        <!--Start of Zendesk Chat Script-->
        <script type="text/javascript">
            window.$zopim || (function (d, s) {
                var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
                                                                   d.createElement(s), e = d.getElementsByTagName(s)[0]; z.set = function (o) {
                                                                       z.set.
                                                                           _.push(o)
                                                                   }; z._ = []; z.set._ = []; $.async = !0; $.setAttribute("charset", "utf-8");

                $.src = "https://v2.zopim.com/?4uvhWsdh7U2SeiRu5d1PRa29L3wnGiti"; z.t = +new Date; $.
                    type = "text/javascript"; e.parentNode.insertBefore($, e)
            })(document, "script");
        </script>
        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
        <!-- Header -->
        <header>
		 <div class="logo" style="line-height: 0px; padding-top: 0px; margin-top: -4px;">
             <a href="Employee_dashboard.aspx"><asp:Image runat="server" ID="imgPageLogo" AlternateText="" style="height: 52px;"></asp:Image></a>
			<%--<a href="Organisation-dashboard.aspx"> <img src="images/logo.png" alt="Strateku"  /></a>--%>
		 </div>

		<%-- <div aria-hidden="true" role="dialog" tabindex="-1" class="modal fade" id="add-post-title" style="display: none;">
=======
		 <%--<div aria-hidden="true" role="dialog" tabindex="-1" class="modal fade" id="add-post-title" style="display: none;">
>>>>>>> .r7043
			 <div class="modal-dialog">
				 <div class="modal-content">
					 <div class="modal-header blue">
					   <button aria-hidden="true" data-dismiss="modal" class="close" type="button">× </button>
					   <h4 class="modal-title">Setting Section </h4>
					 </div>
					 <div class="modal-body">
					   <input type="text" placeholder="TITLE" />
					   <textarea placeholder="DESCRIPTION" rows="5"></textarea>
					 </div>
					 <div class="modal-footer">
					   <button data-dismiss="modal" class="btn btn-default black" type="button">Close </button>
					   <button class="btn btn-primary blue" type="button">Save changes </button>
					 </div>
				 </div><!-- /.modal-content -->
			 </div>
		 </div>--%>
		 <div class="header-alert">		 
			 <ul >
                 <li></li>
				<%-- <li><a title="" class="notification-btn"><i class="fa fa-envelope"></i><span>3</span></a>
					 <div class="notification">
						 <span>You have 3 New Messages</span>

						 <a href="#" title=""><img src="images/notification1.jpg" alt="" />Hey! How are You Diana. I waiting for you.
						<p><i class="fa fa-clock-o"></i>3:45pm </p></a>
						 <a href="#" title=""><img src="images/notification1.jpg" alt="" />Please Can you Submit A file. I am From Korea
						<p><i class="fa fa-clock-o"></i>1:40am </p></a>
						 <a href="#" title=""><img src="images/notification1.jpg" alt="" />Hey Today is Party So you Will Have to Come <p><i class="fa fa-clock-o"></i>4 Hours ago </p></a>
						 <a href="../Mail/Inbox.aspx" class="view-all">VIEW ALL MESSAGE </a>
					 </div>		
				 </li>--%>
				 <%--<li><a title="" class="notification-btn"><i class="fa fa-bell"></i><span>4 </span></a>
					 <div class="notification">
						 <span>You have 6 New Notification</span>
						 <a href="#" title=""><img src="images/notification1.jpg" alt="" />Server 3 is Over Loader Pleas
						toe Check.  <p><i class="fa fa-clock-o"></i>3:45pm </p></a>
						 <a href="#" title=""><img src="images/notification1.jpg" alt="" />Server 10 is Over Loader Pleas
						toe Check.  <p><i class="fa fa-clock-o"></i>1:40am </p></a>
						 <a href="#" title=""><img src="images/notification1.jpg" alt="" />New User Registered Please Check This <p><i class="fa fa-clock-o"></i>4 Hours ago </p></a>
						 <a href="#" class="view-all">VIEW ALL NOTIFICATIONS </a>
					 </div>				
				 </li>	--%>
                   <% if (!string.IsNullOrWhiteSpace(Convert.ToString(Session["Pointcompid"])))
                      { %>
                 <li><a href="apl_points.aspx?ALP=1" class="apl-point" style="height: 54px;"><p style="color:#fff;">ALP</p><span><asp:Label ID="lblALP" runat="server" Text="0"></asp:Label> </span></a></li>
                 <li><a href="apl_points.aspx?PLP=1"  class="plp-point" style="height: 54px;"><p style="color:#fff;">PLP</p><span><asp:Label ID="lblPLP" runat="server" Text="0"></asp:Label></span></a></li>
                 <li><a href="apl_points.aspx?All=1" class="total-point" style="height: 54px;"><p style="color:#fff;">Total</p><span><asp:Label ID="lblTotal" runat="server" Text="0"></asp:Label></span></a></li>
                   <li><a href="apl_points.aspx?PDP=1" class="pdp-point" style="height: 54px;"><p style="color:#fff;">PDP</p><span><asp:Label ID="lblpdp" runat="server" Text="0"></asp:Label></span></a></li>
                     <% } %>
                  <li onclick="SetMessgeTotal()" class="messageHover" >
                  <a title="" class="plp-messge  notification-btn"><i class="fa fa-envelope" style="color:#ffffff;"></i><b><asp:Label ID="lblmessge" runat="server"></asp:Label></b></a>
					 <div class="notification notificationOverflow messageDown" id="rpt_messge">
						 <%--<span>You have  <asp:Label ID="lblshowmessge" runat="server"></asp:Label> New Messages</span>--%>
						<span>You1 have1  <asp:Label ID="lblshowmessge" runat="server"></asp:Label> New1 Messages1</span>
                            <%--<ul id="rpt_messge">                           
                            </ul>--%>
                        <%--<asp:Repeater ID="rpt_messge1" runat="server">
                        <ItemTemplate>
						 <a href='<%# Eval("notpage") %>' title="">                       
                          <img src='../Log/upload/Userimage/<%# Eval("userImage") %>'style="height:40px;width:40px;"> <%# Eval("name")%> <br />
                          <%# Eval("notsubject")%> 
                          <p><i class="fa fa-clock-o"></i><%# Eval("MinAgo")%> </p></a>
                        </ItemTemplate>
                    </asp:Repeater>	--%>
					 </div>		
				 </li>
                     <li  onclick="SetNotificationTotal()" style="float:left;" class="notificationHover" ><a title="" class="notification-btn" style=""><i class="fa fa-bell"></i><b><asp:Label ID="lblcountnotification" runat="server"></asp:Label></b></a>
					 <div class="notification notificationOverflow notificationDetail" id="rep_notification">
						<span>You have  <asp:Label ID="lblshownotification" runat="server"></asp:Label> New Notification</span>						 
                         
                        <%-- <asp:Repeater ID="rep_notification" runat="server">
                        <ItemTemplate>
						 <a href='<%# Eval("notpage") %>' title="">                       
                          <img src='../Log/upload/Userimage/<%# Eval("userImage") %>'style="height:40px;width:40px;"> <%# Eval("name")%> <br />
                          <%# Eval("notsubject")%> 
                          <p><i class="fa fa-clock-o"></i><%# Eval("MinAgo")%> </p></a>
                        </ItemTemplate>
                    </asp:Repeater>	--%>
					 </div>				
				 </li>	
			 </ul>
		 </div>
		<%-- <div class="right-bar-sec">
			 <a href="#" title="" class="right-bar-btn"><i class="fa fa-bars rotator animation"></i></a>
			 <a href="#" title="" class="right-bar-btn-mobile"><i class="fa fa-bars rotator animation"></i></a>
			 <div id="scrollbox4" class="right-bar">
					
				 <div class="my-account">
						 <input type="text" placeholder="SEARCH" />
						 <a href="#" title="" data-tooltip="Account" data-placement="left"><i class="fa fa-cogs"></i></a>
					 <a id="account" class="toogle-head">ACCOUNT LIST <i class="fa fa-plus"></i></a>
					 <div class="account2">
						 <ul>
							 <li>
							Private Office
								 <div class="switch-account">
								   <input type="checkbox" id="check" />
								   <label for="check" class="switch">
									 <span class="slide-account"></span>
								   </label>
								 </div>
							 </li>
							 <li>
							Home Account
								 <div class="switch-account">
									 <input type="checkbox" id="check2" checked/="" />
								   <label for="check2" class="switch">
									 <span class="slide-account"></span>
								   </label>
								 </div>
							 </li>
							 <li>
							Personal Account
								 <div class="switch-account">
									 <input type="checkbox" id="check3" checked/="" />
								   <label for="check3" class="switch">
									 <span class="slide-account"></span>
								   </label>
								 </div>
							 </li>
						 </ul>
						
					 <a href="#" title=""><i class="fa fa-plus"></i>ADD ACCOUNT </a>	
					 </div>
				 </div>
				
				 <div class="users-online">
					 <a id="user-online" class="toogle-head">USERS ONLINE <i class="fa fa-plus"></i><span>26 </span></a>
					 <div class="user-online2">
						 <ul>
							 <li><img src="images/user1.jpg" alt="" /><h5><a href="#" title="">Johny Razell </a></h5><span class="offline">OFFLINE </span>  </li>
							 <li><img src="images/user2.jpg" alt="" /><h5><a href="#" title="">John Smith </a></h5><span class="online">ONLINE </span>  </li>
							 <li><img src="images/user3.jpg" alt="" /><h5><a href="#" title="">Doe Haxzer </a></h5><span class="online">ONLINE </span>  </li>
							 <li><img src="images/user4.jpg" alt="" /><h5><a href="#" title="">Karen Kelly </a></h5><span class="unread"><i>4 </i></span> 
							 <p>Hey! I am still waitin</p>
							 </li>
						 </ul>
					 <a href="#" title=""><i>260 </i>TOTAL MEMBER </a>
					 </div>
				 </div>
				
				
				 <div class="disk-usage-sec">
					 <a id="disk-usage" class="toogle-head">USAGE <i class="fa fa-plus"></i></a>
					 <div class="disk-usage">
						 <p>1.31 GB of 1.50 __ used  <i>75% </i></p>
						 <div class="progress small-progress">
							 <div style="width: 35%" class="progress-bar black">
							   <span class="sr-only">35% Complete (success) </span>
							 </div>
							 <div style="width: 20%" class="progress-bar blue">
							   <span class="sr-only">20% Complete (warning) </span>
							 </div>
							 <div style="width: 10%" class="progress-bar pink">
							   <span class="sr-only">10% Complete (danger) </span>
							 </div>
						 </div>						
					 </div>
				 </div>
				
				
				 <div class="pending-task-sec">
					 <a id="pending-task" class="toogle-head">PENDING TASK <i class="fa fa-plus"></i></a>
					 <div class="pending-task">
						 <ul>
							 <li><h6>Development </h6><span>75% </span><a href="#" title="" data-tooltip="Refresh" data-placement="left"><i class="fa fa-refresh"></i></a>
								 <div class="progress small-progress">
									 <div style="width: 40%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar pink">
									 </div>
								 </div>							
							 </li>
							
							 <li><h6>Bug Fixes </h6><span>60% </span><a href="#" title="" data-tooltip="Refresh" data-placement="top"><i class="fa fa-refresh"></i></a>
								 <div class="progress small-progress">
									 <div style="width: 60%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar blue">
									 </div>
								 </div>							
							 </li>
							
							 <li><h6>Javascript </h6><span>90% </span><a href="#" title="" data-tooltip="Refresh" data-placement="bottom"><i class="fa fa-refresh"></i></a>
								 <div class="progress small-progress">
									 <div style="width: 90%" aria-valuemax="100" aria-valuemin="0" aria-valuenow="40" role="progressbar" class="progress-bar black">
									 </div>
								 </div>							
							 </li>
							
							
						 </ul>
					</div>
				</div>
			</div>
			<div style="position: absolute; z-index: 1; margin: 0px; padding: 0px; opacity: 0; display: block; left: 1841px; top: 55px;">
			<div class="enscroll-track track3" style="position: relative; height: 739px;">
			<a class="handle3" href="#" style="position: absolute; z-index: 1; height: 484.579px; top: 0px;">
			<div class="top"></div>
			<div class="bottom"></div></a>
			</div></div>
		</div>--%>
	</header>
        <!-- Header -->
        <div class="menu" id="pt_menu_link">
            <div class="menu-profile" id="Div1">
                <asp:Image ID="img1" ImageUrl="~/Organisation/images/sign-in1.jpg" runat="server" />
                <div class="menu-profile-hover">
                    <h1>
                        <i><span runat="server" id="span2"></span></i>
                    </h1>
                    <p>
                        <i class="fa fa-map-marker"></i><span runat="server" id="span3"></span>
                    </p>
                    <%-- <p><i class="fa fa-map-marker"></i>LONDON, UNITED KINGDOM </p>--%>
                    <a href="Login.aspx" title=""><i class="fa fa-power-off"></i></a>
                    <div class="menu-profile-btns">
                        <h3>
                            <i class="fa fa-user blue"></i><a href="Profile.aspx" title="">
                                <asp:Literal ID="Literal2" runat="server" meta:resourcekey="Profile1" EnableViewState="false" /><%--<%= CommonMessages.Profile%>--%>
                            </a>
                        </h3>
                        <p class="last-login">
                            <span runat="server" id="login1" />
                        </p>
                        <h3>
                            <%-- <i class="fa fa-inbox pink"></i>
                            <a href="#" title="">INBOX </a>--%>
                        </h3>
                    </div>
                </div>
            </div>
            <%-- <ul id="scrollbox7" style="width: 130px !important; padding-right: 10px !important;
                    height: 500px !important;">--%>
            <ul>
                <asp:Panel runat="server" ID="competencePanel"></asp:Panel>
                <%if (!string.IsNullOrWhiteSpace(Convert.ToString(Session["Compcompid"])))
                  {%>
                <li><a class="tooltipMenu myCompetence" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>myCompetence.aspx"
                    title='<%=GetToolTip("MyCompetenceTooltip.Text")%>'><i class="fa fa-bar-chart-o"></i>
                    <asp:Literal ID="Literal6" runat="server" meta:resourcekey="MyCompetence" EnableViewState="false" />
                    <%--<%= CommonMessages.Competence%>--%></a></li>
                <%} %>

                <li><a class="tooltipMenu" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>Library.aspx"
                    title='<%=GetToolTip("LibraryTooltip.Text")%>' class="Library"><i class="fa fa-book "></i>
                    <asp:Literal ID="Literal3" runat="server" meta:resourcekey="Library" EnableViewState="false" /><%-- <%= CommonMessages.Library%>--%></a></li>

                <li><a class="tooltipMenu" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>ForumAll.aspx"
                    title='<%=GetToolTip("KnowledgeShareTooltip.Text")%>' class="ForumAll"><i class="fa fa-graduation-cap"></i>
                    <asp:Literal ID="Literal7" runat="server" meta:resourcekey="KnowledgeShare" EnableViewState="false" /></a> </li>

                <li><a class="tooltipMenu" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>chart.aspx"
                    title='<%=GetToolTip("MessageTooltip.Text")%>' class="Message"><i class="fa fa-comment-o"></i>
                    <asp:Literal ID="Literal13" runat="server" meta:resourcekey="Message" EnableViewState="false" /></a></li>

                <asp:Panel runat="server" ID="activityPanel"></asp:Panel>
                <%if (!string.IsNullOrWhiteSpace(Convert.ToString(Session["Aemcompid"])))
                  {%>
                <li class=""><a class="tooltipMenu" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>ActivityLists.aspx" title='<%=GetToolTip("ActivityListsTooltip.Text")%>' class="ActivityLists">
                    <i class="fa fa-forward"></i>
                    <asp:Literal ID="Literal19" runat="server" meta:resourcekey="ActivityLists" EnableViewState="false" />
                    <%--<%= CommonMessages.Divisions%>--%>
                </a></li>
                <%} %>

                <li class=""><a class="tooltipMenu" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>PersonalDevelopmentPlan.aspx?umId=<%=Session["OrgUserId"].ToString()%>"
                    title='<%=GetToolTip("PersonalDevelopmentPlanToolTip.Text")%>' class="Category"><i class="fa fa-address-book-o"></i>
                    <asp:Literal ID="Literal39" runat="server" meta:resourcekey="PersonalDevelopmentPlan" EnableViewState="false" />
                </a></li>

                <li><a class="tooltipMenu setting" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>setting.aspx"
                    title='<%=GetToolTip("SettingsTooltip.Text")%>'><i class="fa fa-gears"></i>
                    <asp:Literal ID="Literal4" runat="server" meta:resourcekey="Settings" EnableViewState="false" />
                </a></li>




                <li><a class="tooltipMenu OrgLogout" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>OrgLogout.aspx"
                    title='<%=GetToolTip("LogOutTooltip.Text")%>'><i class="fa fa-power-off"></i>
                    <asp:Literal ID="Literal11" runat="server" meta:resourcekey="LogOut" EnableViewState="false" />
                    <%--<%= CommonMessages.LogOut%>--%></a></li>

            </ul>
        </div>
        <!-- Right Menu -->
        <div class="wrapper">
            <div class="container">
                <%--<div class="col-md-6">
                    <div class="heading-sec">
                        <h1>Dashboard  <i>Welcome To Bette Bayer!</i></h1>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                        <i class="fa fa-calendar icon-calendar icon-large"></i>
                        <span>August 5, 2014 - September 3, 2014</span>  <b class="caret"></b>
                    </div>
                </div>
                <div class="col-md-12">
                    <div id="graph-wrapper">
                        <h3 class="custom-heading darkblue">Lorem Ipsum is simply dummy text </h3>
                        <div class="home_grap">
                            <div class="graph-info">

                                <a href="#" id="bars"><span><i class="fa fa-bar-chart-o"></i></span></a>
                                <a href="#" id="lines" class="active"><span><i class="fa fa-code-fork"></i></span></a>
                            </div>
                            <div class="graph-container">

                                <div id="graph-lines"></div>
                                <div id="graph-bars"></div>
                            </div>
                        </div>
                    </div>
                    <!-- Widget Visitor -->
                    <!-- ORDR REVIEWS -->
                </div>
                <div class="col-md-6">
                    <div class="timeline-sec widget-body">
                        <div class="timeline-head yellow">
                            <span>Time line
							 <i>27 - Oct - 2013 </i></span>
                            <div class="add-btn">
                                <a href="#" title=""><i class="fa fa-plus blue"></i>ADD USER </a>
                            </div>
                        </div>
                        <div id="scrollbox3" class="timeline">
                            <ul>
                                <li>
                                    <div class="timeline-title gray">
                                        <h6>John Smith </h6>
                                        <i>2 min ago </i>
                                        <a href="#" title=""><i class="fa fa-comment-o"></i>REPLY </a>
                                    </div>
                                    <div class="timeline-content">
                                        <p>Dnim eiusmod high life accusamus terry richardson ado squid. 3 wolfmoon officia aute, non cupidatat </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-title gray">
                                        <h6>John Smith </h6>
                                        <i>2 min ago </i>
                                        <a href="#" title=""><i class="fa fa-comment-o"></i>REPLY </a>
                                    </div>
                                    <div class="timeline-content">
                                        <p>Dnim eiusmod high life accusamus terry richardson ado squid. 3 wolfmoon officia aute, non cupidatat</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-title gray">
                                        <h6>John Smith </h6>
                                        <i>2 min ago </i>
                                        <a href="#" title=""><i class="fa fa-comment-o"></i>REPLY </a>
                                    </div>
                                    <div class="timeline-content">
                                        <p>Dnim eiusmod high life accusamus terry richardson ado squid. 3 wolfmoon officia aute, non cupidatat </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="timeline-title gray">
                                        <h6>John Smith </h6>
                                        <i>2 min ago </i>
                                        <a href="#" title=""><i class="fa fa-comment-o"></i>REPLY </a>
                                    </div>
                                    <div class="timeline-content">
                                        <p>Dnim eiusmod high life accusamus terry richardson ado squid. 3 wolfmoon officia aute, non cupidatat</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">

                    <div class="tdl-holder ">
                        <div class="yellow" style="width: 100%; float: left;">
                            <div class="" style="float: left; width: 36%;">
                                <h2 class="yellow" style="border: 0px;">TO DO LIST </h2>
                            </div>
                            <div style="float: right;">
                                <div id="reportrange1" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">
                                    <i class="fa fa-calendar icon-calendar icon-large"></i>
                                    <span>August 5, 2014 - September 3, 2014</span>  <b class="caret"></b>
                                </div>
                            </div>
                        </div>

                        <div class="tdl-content">
                            <ul>
                                <li>
                                    <div class="todo_checkbox">
                                        <input name="" class="" type="checkbox" value="" /></div>
                                    <div style="float: left;">
                                        <label><i class="todo_i">1</i><span>get up </span></label>
                                    </div>
                                </li>

                                <li>
                                    <div class="todo_checkbox">
                                        <input name="" class="" type="checkbox" value="" /></div>
                                    <div style="float: left;">
                                        <label><i class="todo_i">2</i><span>stand up </span></label>
                                    </div>
                                </li>

                                <li>
                                    <div class="todo_checkbox">
                                        <input name="" class="" type="checkbox" value="" /></div>
                                    <div style="float: left;">
                                        <label><i class="todo_i">3</i><span>don't give up the fight.</span></label></div>
                                </li>

                                <li>
                                    <div class="todo_checkbox">
                                        <input name="" class="" type="checkbox" value="" /></div>
                                    <div style="float: left;">
                                        <label><i class="todo_i">4</i><span>save the world. </span></label>
                                    </div>
                                </li>

                                <li>
                                    <div class="todo_checkbox">
                                        <input name="" class="" type="checkbox" value="" /></div>
                                    <div style="float: left;">
                                        <label><i class="todo_i">5</i><span>get up </span></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <input type="text" class="tdl-new" placeholder="Write new item and hit 'Enter'..." />
                    </div>
                </div>
                <div class="col-md-3"></div>--%>
                <%--   <div style="width:100%; text-align:right;margin:-30px 0px -4px 0px;padding:0px 0px 0px 0px;">--%>
                <%-- <div id="google_translate_element"></div>
                    </div>--%>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
            <div style="display: none">
                <asp:Label ID="Invitation" runat="server" CssClass="Invitation" meta:resourcekey="Invitation" />
                <asp:Label ID="Accepted" runat="server" CssClass="Accepted" meta:resourcekey="Accepted" />
                <asp:Label ID="ProHelp" runat="server" CssClass="ProHelp" meta:resourcekey="ProHelp" />
                <asp:Label ID="Invite" runat="server" CssClass="Invite" meta:resourcekey="Invite" />
                <asp:Label ID="UserAccept" runat="server" CssClass="UserAccept" meta:resourcekey="UserAccept" />
                <asp:Label ID="From" runat="server" CssClass="From" meta:resourcekey="From" />

            </div>
        </div>
        <!-- Wrapper -->
        <%--
    <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js" type="text/javascript"></script>
    <script src="../Scripts/sMain.js" type="text/javascript"></script>
        <script src="../Scripts/notify.js"></script>
    <script src="https://hakanersu.github.io/AmaranJS/dist/js/jquery.amaran.js"></script>--%>
        <script type="text/javascript">
            function googleTranslateElementInit() {
                new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
            }
        </script>
        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script src="js/jquery.amaran.min.js" type="text/javascript"></script>
        <script src="../Scripts/tooltipster-master/dist/js/tooltipster.main.js"></script>
        <script src="../Scripts/tooltipster-master/dist/js/tooltipster.bundle.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                setTimeout(function () {


                    $(".tooltipMenu").tooltipster({
                        animation: 'fade',
                        delay: 200,
                        theme: 'tooltipster-shadow1',
                        side: 'left'

                    });
                }, 1000);
            });
        </script>
        <script type="text/javascript">
            window.onload = function () {
                var currentPage = document.URL; //window.location;          
                $('#pt_menu_link ul li a[href="' + currentPage + '"]').addClass('active_page');
                notificationShowHide();
                notification_Count();
                notificationChecker();

            };

            var icons = new Skycons();
            icons.set("rain", Skycons.RAIN);
            icons.play();
            var ajex;
            var notificationData = [];

            function notificationChecker() {
                // $.notify("Hello World");
                //

                //
                // alert('notificationChecker');
                var imgLink;
                var userName;
                var subject;
                var refLink;
                var notificationType;
                /*Ref : https://hakanersu.github.io/AmaranJS/documentation/#options*/
                setInterval(function () {
                    if (ajex != null) {
                        ajex.abort();
                    }
                    ajex = $.ajax({
                        type: "POST",
                        cache: false,
                        async: true,
                        url: "webservice1.asmx/getNotificationPopUP",

                        data: "{'txtName':'" + '' + "'}",

                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            notificationData = response.d;
                            if (notificationData[0] != null && notificationData[0] != 'undifined' && notificationData.length > 0) {
                                //debugger;
                                imgLink = notificationData[3];
                                userName = notificationData[0];
                                subject = notificationData[1];
                                refLink = notificationData[4];
                                notificationType = notificationData[2];

                                //if (notificationType == "Invitation") {
                                //    subject = $("#hdnInvitation").val();
                                //}
                                //else if (notificationType == "Accepted") {
                                //    subject = $("#hdnAccepted").val();
                                //}
                                //else if (notificationType == "Message") {
                                //    subject = $("#MsgChat").val();
                                //}
                                //else if (notificationType == "ProHelp") {
                                //    subject = $("#hdnProHelp").val();
                                //}
                                //else if (notificationType == "Invite") {
                                //    subject = $("#hdnInvite").val();
                                //}
                                //else if (notificationType == "UserAccept") {
                                //    subject = $("#hdnAcceptComp").val();
                                //}

                                if (notificationType == "Invitation") {
                                    subject = $("#hdnInvitation").val();
                                }
                                else if (notificationType == "Message") {
                                    subject == $("#MsgChat").val();
                                }
                                else if (notificationType == "Accepted") {
                                    subject = $("#hdnAccepted").val();
                                }
                                else if (notificationType == "ProHelp") {
                                    subject = $("#hdnProHelp").val();
                                }
                                else if (notificationType == "Invite") {
                                    subject = $("#hdnInvite").val();
                                }
                                else if (notificationType == "Notificati") {
                                    subject = $("#hdnSetComp").val();
                                }
                                else if (notificationType == "UserAccept") {
                                    subject = $("#hdnAcceptComp").val();
                                }
                                else if (notificationType == "ActReq") {
                                    subject = $("#hdnActivityRequest").val();
                                }
                                else if (notificationType == "ActCom") {
                                    subject = $("#hdnActivityComplete").val();
                                }
                                else if (notificationType == "ActReReq") {
                                    subject = $("#hdnActivityReRequest").val();
                                }
                                else if (notificationType == "pdpReq") {
                                    subject = $("#hdnPDPApprove").val();
                                }
                                else if (notificationType == "metPub") {
                                    subject = $("#hdnNewMeetingPublish").val();
                                }
                                else if (notificationType == "metPubDoc") {
                                    subject = $("#hdnNewMeetingDoc").val();
                                }
                                else if (notificationType == "quesDia") {
                                    subject = $("#hdnGeneralDialogue").val();
                                }
                                else if (notificationType == "actRes") {
                                    subject = $("#hdnApproveActivityRequest").val();
                                }
                                else if (notificationType == "actRej") {
                                    subject = $("#hdnApproveActivityReject").val();
                                }
                                else if (notificationType == "actCom") {
                                    subject = $("#hdnApproveActivityComplete").val();
                                }
                                else if (notificationType == "quesPub") {
                                    subject = $("#hdnQuestionPublish").val();
                                }
                                else if (notificationType == "comdirPub") {
                                    subject = $("#hdnCompanyDirPublish").val();
                                }
                                //$.noConflict();
                                //alert(subject);
                                //debugger;

                                $.amaran({
                                    content: {
                                        img: imgLink,//'https://api.randomuser.me/0.2/portraits/men/36.jpg',
                                        // user: notificationType,//'John Walker',
                                        user: $("." + notificationType).text(),//'John Walker',
                                        message: '<div class="ns-thumb"><p>' + $("#hdnFrom").val() + ' <a class="notificationUrlRedirect" href="' + refLink + '">' + userName + '</a></br>' + subject + '</p></div>',
                                        info: 'my_birthday.mp4',
                                        icon: 'fa fa-user',
                                    },
                                    theme: 'user',
                                    delay: 30000,
                                    closeButton: true,
                                    cssanimationIn: 'swing',
                                    cssanimationOut: 'bounceOut',
                                    onClick: function () {
                                        var t = window.location.href;
                                        t = t.substr(0, t.lastIndexOf("/"));
                                        window.location.href = t + "/" + refLink;
                                    }
                                });
                            }


                        },
                        failure: function (msg) {

                            alert(msg);
                            ReturnData = msg;
                        }
                    });


                }, 40000);
            }


            var interval1 = 0;
            var Count;
            var notificationCount = [];
            function notification_Count() {

                Defult_notification_Count();
                interval1 = setInterval(function () {
                    if (ajex != null) {
                        ajex.abort();
                    }
                    ajex = Defult_notification_Count();
                }, 90000);
            }


            function Defult_notification_Count() {

                $.ajax({
                    type: "POST",
                    cache: false,
                    async: true,
                    url: "webservice1.asmx/notification_Count",
                    data: "{'txtName':'" + '' + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        notificationCount = response.d;

                        if (notificationCount[0] != null && notificationCount[0] != 'undifined' && notificationCount.length > 0) {
                            Count = notificationCount[0];
                            if ("0" == notificationCount[0]) {
                                //                                   $("#lblmessge").text("0");
                                //                                   $("#lblshowmessge").text("0");

                                $("#rpt_messge").html('');
                                var html = "";
                                $("#lblmessge").text(Count);
                                $("#lblshowmessge").text(Count);
                                html += '<span>' + $("#hdnNotiMessageLabel").val() + '&nbsp;' + 0 + ' ' + $("#hdnNewMessage").val() + '</span>';
                                $("#rpt_messge").html(html);
                            }
                            else {
                                $("#lblmessge").text(Count);
                                $("#lblshowmessge").text(Count);
                                rep_notificationAll();
                            }
                            if ("0" == notificationCount[1]) {
                                //                                   $("#lblcountnotification").text("0");
                                //                                   $("#lblcountnotification").text("0");
                                $("#lblcountnotification").text(notificationCount[1]);
                                $("#lblshownotification").text(notificationCount[1]);

                                var html = "";
                                $("#rep_notification").html('');
                                html += '<span>' + $("#hdnNotiMessageLabel").val() + '&nbsp;' + 0 + ' ' + $("#hdnNewNotification").val() + '</span>';
                                $("#rep_notification").append(html);

                            }
                            else {
                                $("#lblcountnotification").text(notificationCount[1]);
                                $("#lblshownotification").text(notificationCount[1]);
                                rep_notificationAll();
                            }
                        }
                    },
                    failure: function (msg) {
                        alert(msg);
                        ReturnData = msg;
                    }
                });
            }




            function rep_notificationAll() {

                var notification = [];
                $.ajax({
                    type: "POST",
                    cache: false,
                    async: true,
                    url: "webservice1.asmx/rep_notificationAll",
                    data: "{'txtName':'" + '' + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        notification = response.d;

                        if (notification[0] != null && notification[0] != 'undifined' && notification.length > 0) {
                            if (notification[0] != "0") {
                                Randernotification(notification[0]);
                            }
                        }
                        if (notification[1] != null && notification[1] != 'undifined' && notification.length > 0) {
                            if (notification[1] != "0") {
                                Randermessge(notification[1]);
                            }
                        }
                    },
                    failure: function (msg) {
                        alert(msg);
                        ReturnData = msg;
                    }
                });
            }


            function Randermessge(notification) {

                var count = $("#lblshowmessge").text();
                var html = "";
                $("#rpt_messge").html('');
                var dataUser = JSON.parse(notification);
                html += '<span>' + $("#hdnNotiMessageLabel").val() + '&nbsp;' + count + ' ' + $("#hdnNewMessage").val() + '</span>';
                // html += '<span>You have ' + count + ' New Messages</span>';

                $.each(dataUser.Table, function (i, item) {
                    item.notsubject = $("#hdnMessage").val();
                    html += '<a href=' + item.notpage + ' title=""><img src="../Log/upload/Userimage/' + item.userImage + '" alt="" onerror="../Organisation/images/sign-in.jpg" style="height:40px;width:40px;" />' + $("#hdnFrom").val() + item.name + '<br />';
                    html += item.notsubject + '<p><i class="fa fa-clock-o"></i>' + item.MinAgo + '</p></a>';

                    // item.UserID
                    // item.Username

                });
                $("#rpt_messge").append(html);

            }


            function Randernotification(notification) {
                var count = $("#lblshownotification").text();
                var html = "";
                $("#rep_notification").html('');
                var dataUser = JSON.parse(notification);
                // html += '<span>You have'+ count +' New Notification</span>';		
                html += '<span>' + $("#hdnNotiMessageLabel").val() + '&nbsp;' + count + ' ' + $("#hdnNewNotification").val() + '</span>';
                $.each(dataUser.Table, function (i, item) {

                    //if (item.nottype == "Invitation") {
                    //    item.notsubject = $("#hdnInvitation").val();
                    //}
                    //else if (item.nottype == "Accepted") {
                    //    item.notsubject = $("#hdnAccepted").val();
                    //}
                    //else if (item.nottype == "ProHelp") {
                    //    item.notsubject = $("#hdnProHelp").val();
                    //}
                    //else if (item.nottype == "Invite") {
                    //    item.notsubject = $("#hdnInvite").val();
                    //}
                    //else if (item.nottype == "UserAccept") {
                    //    item.notsubject = $("#hdnAcceptComp").val();
                    //}
                    if (item.nottype == "Invitation") {
                        item.notsubject = $("#hdnInvitation").val();
                    }
                    else if (item.nottype == "Message") {
                        item.notsubject == $("#MsgChat").val();
                    }
                    else if (item.nottype == "Accepted") {
                        item.notsubject = $("#hdnAccepted").val();
                    }
                    else if (item.nottype == "ProHelp") {
                        item.notsubject = $("#hdnProHelp").val();
                    }
                    else if (item.nottype == "Invite") {
                        item.notsubject = $("#hdnInvite").val();
                    }
                    else if (item.nottype == "Notificati") {
                        item.notsubject = $("#hdnSetComp").val();
                    }
                    else if (item.nottype == "UserAccept") {
                        item.notsubject = $("#hdnAcceptComp").val();
                    }
                    else if (item.nottype == "ActReq") {
                        item.notsubject = $("#hdnActivityRequest").val();
                    }
                    else if (item.nottype == "ActCom") {
                        item.notsubject = $("#hdnActivityComplete").val();
                    }
                    else if (item.nottype == "ActReReq") {
                        item.notsubject = $("#hdnActivityReRequest").val();
                    }
                    else if (item.nottype == "pdpReq") {
                        item.notsubject = $("#hdnPDPApprove").val();
                    }
                    else if (item.nottype == "metPub") {
                        item.notsubject = $("#hdnNewMeetingPublish").val();
                    }
                    else if (item.nottype == "metPubDoc") {
                        item.notsubject = $("#hdnNewMeetingDoc").val();
                    }
                    else if (item.nottype == "quesDia") {
                        item.notsubject = $("#hdnGeneralDialogue").val();
                    }
                    else if (item.nottype == "actRes") {
                        item.notsubject = $("#hdnApproveActivityRequest").val();
                    }
                    else if (item.nottype == "actRej") {
                        item.notsubject = $("#hdnApproveActivityReject").val();
                    }
                    else if (item.nottype == "actCom") {
                        item.notsubject = $("#hdnApproveActivityComplete").val();
                    }
                    else if (item.nottype == "quesPub") {
                        item.notsubject = $("#hdnQuestionPublish").val();
                    }
                    else if (item.nottype == "comdirPub") {
                        item.notsubject = $("#hdnCompanyDirPublish").val();
                    }
                    html += '<a href=' + item.notpage + ' title=""><img src="../Log/upload/Userimage/' + item.userImage + '" alt="" style="height:40px;width:40px;" />' + $("#hdnFrom").val() + item.name + '<br />';
                    html += item.notsubject + '<p><i class="fa fa-clock-o"></i>' + item.MinAgo + '</p></a>';

                });
                $("#rep_notification").append(html);

            }

            function SetMessgeTotal() {
                return;
                if ($("#lblmessge").text() == "0") return;
                $("#lblmessge").text("0");
                $("#lblshowmessge").text("0");
                var a = "a";
                $.ajax({
                    type: "POST",
                    url: 'WebService1.asmx/UpdateMessge',
                    data: "{'notIdQ':'" + a + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        $("#divResult").html(msg.d);
                    },
                    error: function (e) {
                        $("#divResult").html("WebSerivce unreachable");
                    }
                });
            }


        </script>
    </form>
</body>
</html>
