﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="ManagerMaster.master.cs"
    Inherits="Organisation_ManagerMaster" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head id="Head1" runat="server">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AskingCulture </title>
    <%--<link href="../../fonts.googleapis.com/css_ac5e1c55.css" rel="stylesheet" type="text/css">
    <link href="../../fonts.googleapis.com/css_3e3d9b9e.css" rel="stylesheet" type="text/css">
    <link href="../../fonts.googleapis.com/css_98ee0297.css" rel="stylesheet" type="text/css">
    <link href="../../fonts.googleapis.com/css_7f7d8532.css" rel="stylesheet" type="text/css">
    <link href="../../fonts.googleapis.com/css_52a9019e.css" rel="stylesheet" type="text/css">--%>
    <link href="css/jquery-ui.css" rel="stylesheet" type="text/css" />
    <%-- <link type="text/css" rel="stylesheet" href="../../ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css">--%>
    <link rel="stylesheet" href="manager/css/bootstrap.css" type="text/css" />
    <!-- Bootstrap -->
    <link href="../Scripts/Font-Awesome-4-7/css/font-awesome.css" rel="stylesheet" />
    <!-- Font Awesome -->
  <%--  <link rel="stylesheet" href="manager/css/nv.css" type="text/css" />--%>
    <!-- VISITOR CHART -->
    <link rel="stylesheet" type="text/css" media="all" href="manager/css/daterangepicker-bs3.css" />
    <!-- Date Range Picker -->
    <link rel="stylesheet" href="manager/css/style.css?v2" type="text/css" />
    <!-- Style -->
    <link rel="stylesheet" href="manager/css/responsive.css" type="text/css" />
    <!-- Responsive -->
<%--    <link href="../Scripts/craftpip-jquery-confirm-00f7956/css/jquery-confirm.css" rel="stylesheet" />--%>
    <link href="../Scripts/tooltipster-master/dist/css/tooltipster.main.css" rel="stylesheet" />
    <link href="../Scripts/tooltipster-master/dist/css/tooltipster.bundle.css" rel="stylesheet" />

    <link href="../Scripts/tooltipster-master/dist/css/tooltipster.main.css" rel="stylesheet" />
    <link href="../Scripts/tooltipster-master/dist/css/tooltipster.bundle.min.css" rel="stylesheet" />

    <link href="../Scripts/tooltipster-master/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-shadow.min.css" rel="stylesheet" />
    <link href="../Scripts/tooltipster-master/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-borderless.min.css" rel="stylesheet" />
    <link href="../Scripts/tooltipster-master/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-light.min.css" rel="stylesheet" />
    <link href="../Scripts/tooltipster-master/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-noir.min.css" rel="stylesheet" />
    <link href="../Scripts/tooltipster-master/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-punk.min.css" rel="stylesheet" />

    <style type="text/css">
        .menu-profile a > img {
            float: left;
            position: relative;
            text-align: center;
            width: 75px;
            z-index: 1;
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            -ms-border-radius: 50%;
            -o-border-radius: 50%;
            border-radius: 50%;
            height: 75px;
        }

        .amaran.user img {
            height: 100%;
            max-width: 100%;
            background: white;
        }

        .nestMenu {
            display: block;
        }
    </style>
    <style type="text/css">
        a:focus {
            outline: none;
        }

        a::-moz-focus-inner {
            border: 0;
        }
    </style>

    <!-- Script -->
   <%-- <script src="js/jquery-1.js"></script>--%>
    <!-- Jquery -->
    <script src="js/jquery-1.10.2.js"></script>
    <!-- Jquery -->
    <script type="text/javascript" src="js/d3.js"></script>
    <!-- VISITOR CHART -->
 <%--   <script type="text/javascript" src="js/nv.js"></script>--%>
    <!-- VISITOR CHART -->
<%--    <script type="text/javascript" src="js/live-updating-chart.js"></script>--%>
    <!-- VISITOR CHART -->
    <script type="text/javascript" src="js/bootstrap.js"></script>
    <!-- Bootstrap -->
    <%-- <script type="text/javascript" src="js/script.js?v=2"></script>--%>
    <!-- Script -->
    <script src="js/jquery.js" type="text/javascript"></script>
    <!-- Script -->
    <%-- <script src="js/jquery.easypiechart.min.js"></script>--%>
    <!-- Easy Pie Chart -->
    <%-- <script src="js/easy-pie-chart.js" type="text/javascript"></script>--%>
    <!-- Easy Pie Chart -->
    <script src="js/skycons.js" type="text/javascript"></script>
    <!-- Skycons -->
    <script src="js/enscroll-0.js" type="text/javascript"></script>
    <!-- Custom Scroll bar -->
    <script src="js/moment.js" type="text/javascript"></script>
    <!-- Date Range Picker -->
    <script src="manager/js/daterangepicker.js" type="text/javascript"></script>
    <!-- Date Range Picker -->
    <script src="js/carousal-plugins.js" type="text/javascript"></script>
    <!-- Carousal Widget -->
   <%-- <script src="js/ticker.js" type="text/javascript"></script>--%>
    <!-- Ticker -->
 <%--   <script src="js/html5lightbox.js" type="text/javascript"></script>--%>
    <!-- Ticker -->
    <%--<script src="js/chart-line-and-graph.js"></script>--%>
    <!-- chart -->
   <%-- <script src="js/pie-chart.js" type="text/javascript"></script>--%><%--Today--%>
    <!-- chart -->
  <%--  <script src="js/charts.js" type="text/javascript"></script>--%> <%--Today--%>
    <!-- chart -->
    <!-- Live Updating Chart -->
  <%--  <script src="js/header-line-chart.js" type="text/javascript"></script>--%> <%--Today--%>
    <script src="js/jquery.flot.min.js" type="text/javascript"></script>
   <%-- <script src="js/flot-chart-header.js" type="text/javascript"></script>--%><%--Today--%>
    <script src="js/flot-jquery-header.js" type="text/javascript"></script>
    <!-- Line & Graph CHart -->
    <link href="js/css/amaran.min.css" rel="stylesheet" />
    <link href="js/css/animate.min.css" rel="stylesheet" />
    <link href="css/css_002.css" type="text/css" rel="stylesheet" />
    <!-- Line & Graph CHart -->

    <link href="css/ajaxtab.css" rel="stylesheet" />
    <link href="css/css_002.css" type="text/css" rel="stylesheet" />

    <%--<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js" type="text/javascript"></script>--%>
  <%--  <script src="../Scripts/sMain.js?version=2.0" type="text/javascript"></script>--%>

    <%--<script src="http://hakanersu.github.io/AmaranJS/dist/js/jquery.amaran.js"></script>--%>

    <script src="../assets/js/OnlyAlphabets.js" type="text/javascript"></script>


    <%--   <!-- DataTables -->
    <script type="text/javascript" src="../plugins/datatables/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="../plugins/datatables/tabletools/TableTools.min.js"></script>
    <!-- optional -->
    <script type="text/javascript" src="../plugins/datatables/colvis/ColVis.min.js"></script>
    <!-- optional -->
    <script type="text/javascript" src="../plugins/datatables/DT_bootstrap.js"></script>--%>

    <!-- App -->
     <%--Today--%>
   <%-- <script type="text/javascript" src="../assets/js/app.js"></script> 
    <script type="text/javascript" src="../assets/js/plugins.js"></script>
    <script type="text/javascript" src="../assets/js/plugins.form-components.js"></script>--%>

    
     <%--Today--%>
    <style type="text/css">
        .commonerrormsg {
            color: red;
        }

        #html5-text {
            color: #333;
            font-size: 16px;
            font-family: Armata,sans-serif,Arial;
            overflow: hidden;
        }

        .html5-error {
            text-align: center;
            color: #ff0000;
            font-size: 14px;
            font-family: Arial, sans-serif;
        }

        .edit_style {
            background-image: url('../assets/img/icons/iconsweets/is/dark/pencil-small.png');
            background-repeat: no-repeat;
            color: #0B5D99;
        }

        .delete_style {
            /*trashcan.png*/
            background-image: url('../assets/img/icons/iconsweets/is/dark/trashcan.png');
            background-repeat: no-repeat;
            color: #0B5D99;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {

            "use strict";
           // App.init(); // Init layout and core plugins  
         //   Plugins.init(); // Init all plugins
         //   FormComponents.init(); // Init all form-specific plugins

        });
    </script>

    <link href="https://fonts.googleapis.com/css?family=Armata" type="text/css" rel="stylesheet">
    <style type="text/css">
        #html5-text {
            color: #333;
            font-size: 16px;
            font-family: Armata,sans-serif,Arial;
            overflow: hidden;
        }

        .html5-error {
            text-align: center;
            color: #ff0000;
            font-size: 14px;
            font-family: Arial, sans-serif;
        }

        .header-alert ul li {
            background: none repeat scroll 0 0 #08224d;
            float: left;
            list-style: none outside none;
            margin-right: 3px;
            position: relative;
            -webkit-transition: all 0.4s ease 0s;
            -moz-transition: all 0.4s ease 0s;
            -ms-transition: all 0.4s ease 0s;
            -o-transition: all 0.4s ease 0s;
            transition: all 0.4s ease 0s;
        }
    </style>
    <script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en' }, 'google_translate_element');
        }
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <script type="text/javascript">
        function GetManagerGraph() {
            GetGraphById('<%=Session["OrgUserId"].ToString()%>', '<%=Session["FullUserName"].ToString()%>');
        }
    </script>
    <form runat="server" id="form1">

        <asp:HiddenField ID="hdnInvitation" meta:resourcekey="resourceInvitation" runat="server"></asp:HiddenField>
        <asp:HiddenField ID="hdnAccepted" meta:resourcekey="resourceAccepted" runat="server"></asp:HiddenField>
        <asp:HiddenField ID="hdnProHelp" meta:resourcekey="resourceProHelp" runat="server"></asp:HiddenField>
        <asp:HiddenField ID="hdnInvite" meta:resourcekey="resourceInvite" runat="server"></asp:HiddenField>
        <asp:HiddenField ID="hdnSetComp" meta:resourcekey="resourceSetComp" runat="server"></asp:HiddenField>
        <asp:HiddenField ID="hdnAcceptComp" meta:resourcekey="resourceAcceptComp" runat="server"></asp:HiddenField>

        <asp:HiddenField ID="hdnActivityRequest" meta:resourcekey="HasRequestForActivity" runat="server"></asp:HiddenField>

        <asp:HiddenField ID="hdnActivityComplete" meta:resourcekey="resActivityComplete" runat="server"></asp:HiddenField>
        <asp:HiddenField ID="hdnActivityReRequest" meta:resourcekey="resActivityReRequest" runat="server"></asp:HiddenField>
         <asp:HiddenField ID="hdnPDPApprove" meta:resourcekey="resPDPApprove" runat="server"></asp:HiddenField>
          <asp:HiddenField ID="hdnNewMeetingPublish" meta:resourcekey="resNewMeetingPublish" runat="server"></asp:HiddenField>
        <asp:HiddenField ID="hdnNewMeetingDoc" meta:resourcekey="resNewMeetingDocPublish" runat="server"></asp:HiddenField>
          <asp:HiddenField ID="hdnGeneralDialogue" meta:resourcekey="resGeneralDialogue" runat="server"></asp:HiddenField>
         <asp:HiddenField ID="hdnApproveActivityRequest" meta:resourcekey="resApproveActivityRequest" runat="server"></asp:HiddenField>
         <asp:HiddenField ID="hdnApproveActivityReject" meta:resourcekey="resApproveActivityReject" runat="server"></asp:HiddenField>
         <asp:HiddenField ID="hdnApproveActivityComplete" meta:resourcekey="resApproveActivityComplete" runat="server"></asp:HiddenField>
         <asp:HiddenField ID="hdnQuestionPublish" meta:resourcekey="resQuestionPublish" runat="server"></asp:HiddenField>
          <asp:HiddenField ID="hdnCompanyDirPublish" meta:resourcekey="resCompanyDirPublish" runat="server"></asp:HiddenField>

        <asp:HiddenField ID="hdnFrom" meta:resourcekey="resourceFrom" runat="server" Value="From:"></asp:HiddenField>


        <asp:HiddenField ID="hdnNotiMessageLabel" meta:resourcekey="NewNotiMessageResource" runat="server" Value="You Have"></asp:HiddenField>
        <asp:HiddenField ID="hdnNewNotification" meta:resourcekey="NewNotificationResource" runat="server" Value="New Notifications"></asp:HiddenField>
        <asp:HiddenField ID="hdnNewMessage" meta:resourcekey="NewMessageResource" runat="server" Value="New Messages"></asp:HiddenField>
        <asp:HiddenField ID="hdnMessage" meta:resourcekey="MessageSubjectResource" runat="server" Value="Click here to check your message."></asp:HiddenField>
        <asp:HiddenField ID="hdnGraphName" meta:resourcekey="GraphResource" runat="server" Value="Graph :"></asp:HiddenField>
        <asp:HiddenField ID="MsgChat" meta:resourcekey="MsgChat" runat="server" Value="MsgChat:"></asp:HiddenField>


        <asp:HiddenField ID="hdnLoginUserIDType" runat="server" Value="0"></asp:HiddenField>

        <%--START |Saurin |Model popup dilougue--%>
        <div id="saveSuccessDilouge" title="Success" class="modelDilougBox" style="display: none">
            <p>Save Successfully!</p>
        </div>
        <%--END--%>
        <div class="responsive-menu">
            <div class="responsive-menu-dropdown blue">
                <a title="" class="blue">MENU <i class="fa fa-align-justify"></i></a>
            </div>
            <ul>
                <div class="menu-profile" id="intro3">
                    <%--   <img src="images/colleagus/2.jpg" />--%>
                    <a href="#" title="" onclick="return GetManagerGraph();">
                        <asp:Image ID="img" ImageUrl="~/Organisation/images/sign-in1.jpg" runat="server"
                            meta:resourcekey="imgResource1" /></a>
                    <div class="menu-profile-hover1">
                        <h3 style="color: #fff; font-style: normal;">
                            <i><span runat="server" id="span1"></span></i>
                        </h3>
                        <p style="color: #fff; font-style: normal;">
                            <i class="fa fa-map-marker"></i><span runat="server" id="span4"></span>
                        </p>
                        <a href="OrgLogout.aspx" style="color: #fff; font-style: normal;" title=""><i class="fa fa-power-off"></i></a>
                        <div class="menu-profile-btns">
                            <h3>
                                <i class="fa fa-user blue"></i><a href="Profile.aspx" style="color: white;" title="">
                                    <asp:Literal ID="Literal10" runat="server" meta:resourcekey="Profile" EnableViewState="false" />
                                </a>
                            </h3>
                            <p class="last-login">
                                <span runat="server" id="login1" />
                            </p>
                            <h3>
                                <%--  <i class="fa fa-inbox pink"></i><a href="#" title="">INBOX </a>--%>
                            </h3>
                        </div>
                    </div>
                </div>
                <li><a href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>add_employee.aspx"
                    title=""><i class="fa fa-user"></i>
                    <asp:Literal ID="Literal1" runat="server" EnableViewState="false" meta:resourcekey="EmployeeResource" />
                </a></li>


                <li><a href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>pending_helprequest.aspx"
                    title="" class="pending_helprequest"><i class="fa fa-warning"></i>
                    <asp:Literal ID="Literal2" runat="server" meta:resourcekey="Allrequest" EnableViewState="false" />
                </a></li>


                <li><a href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>myCompetence.aspx"
                    title="11"><i class="fa fa-bar-chart-o"></i>
                    <asp:Literal ID="Literal11" runat="server" meta:resourcekey="MyCompetence" EnableViewState="false" /></a></li>


                <li><a href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>Report.aspx"
                    title=""><i class="fa fa-align-left"></i>
                    <asp:Literal ID="Literal3" runat="server" meta:resourcekey="Report" EnableViewState="false" />
                </a></li>
                <li><a href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>chart.aspx"
                    title="" class="Message"><i class="fa fa-book"></i>
                    <asp:Literal ID="Literal4" runat="server" meta:resourcekey="Message" EnableViewState="false" />
                </a></li>
                <li><a href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>Library.aspx"
                    title=""><i class="fa fa-book"></i>
                    <asp:Literal ID="Literal5" runat="server" meta:resourcekey="Library" EnableViewState="false" />
                </a></li>
                <li><a href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>Setting.aspx"
                    title=""><i class="fa fa-gears"></i>
                    <asp:Literal ID="Literal6" runat="server" meta:resourcekey="Settings" EnableViewState="false" />
                </a></li>
                <li><a href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>Calendar.aspx"
                    title=""><i class="fa fa-calendar"></i>Calendar</a></li>
                <li><a href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>OrgLogout.aspx"
                    title=""><i class="fa fa-power-off"></i>
                    <asp:Literal ID="Literal7" runat="server" meta:resourcekey="LogOut" EnableViewState="false" /></a></li>
            </ul>
        </div>

        <!--Start of Zendesk Chat Script-->
        <script type="text/javascript">
            window.$zopim || (function (d, s) {
                
                var z = $zopim = function (c) { z._.push(c) }, $ = z.s =
                                                                   d.createElement(s), e = d.getElementsByTagName(s)[0];
                z.set = function (o) {
                    z.set.
                        _.push(o)
                };
                z._ = [];
                z.set._ = [];
                $.async = !0;
                $.setAttribute("charset", "utf-8");
                $.src = "https://v2.zopim.com/?4uvhWsdh7U2SeiRu5d1PRa29L3wnGiti"; z.t = +new Date; $.
                    type = "text/javascript"; e.parentNode.insertBefore($, e)
            })(document, "script");
        </script>
        <asp:ScriptManager ID="ScriptManager1" runat="server">
        </asp:ScriptManager>
        <header>
		<div class="logo" style="line-height: 0px; padding-top: 0px; margin-top: -4px;">
             <a href="Manager-dashboard.aspx"><asp:Image runat="server" ID="imgPageLogo" AlternateText="" style="height: 52px;"></asp:Image></a>
			<%--<a href="Organisation-dashboard.aspx"> <img src="images/logo.png" alt="Strateku"  /></a>--%>
		 </div>
		  <div class="header-alert" >
		 
			 <ul>
				 <li></li>
				
				<%-- <li><a title="" class="notification-btn"><i class="fa fa-bell"></i><span>4 </span></a>
					 <div class="notification">
						 <span>You have 6 New Notification</span>
						 <a href="#" title=""><img src="images/notification1.jpg" alt="" />Server 3 is Over Loader Pleas
						toe Check.  <p><i class="fa fa-clock-o"></i>3:45pm </p></a>
						 <a href="#" title=""><img src="images/notification1.jpg" alt="" />Server 10 is Over Loader Pleas to Check.  <p><i class="fa fa-clock-o"></i>1:40am </p></a>
						 <a href="#" title=""><img src="images/notification1.jpg" alt="" />New User Registered Please Check This <p><i class="fa fa-clock-o"></i>4 Hours ago </p></a>
						 <a href="#" class="view-all">VIEW ALL NOTIFICATIONS </a>
					 </div>				
				 </li>	 <img src='../Log/upload/Userimage/<%# Eval("userImage") %>'>--%>

                   <% if (!string.IsNullOrWhiteSpace(Convert.ToString(Session["Pointcompid"])))
                      { %>
                    <li><a href="apl_points.aspx?ALP=1" class="apl-point" style="height: 54px;"><p style="color:#fff;">ALP</p><span><asp:Label ID="lblALP" runat="server" Text="0"></asp:Label> </span></a></li>
                 <li><a href="apl_points.aspx?PLP=1"  class="plp-point" style="height: 54px;"><p style="color:#fff;">PLP</p><span><asp:Label ID="lblPLP" runat="server" Text="0"></asp:Label></span></a></li>
                 <li><a href="apl_points.aspx?All=1" class="total-point" style="height: 54px;"><p style="color:#fff;">Total</p><span><asp:Label ID="lblTotal" runat="server" Text="0"></asp:Label></span></a></li>
                   <li><a href="apl_points.aspx?PDP=1" class="pdp-point" style="height: 54px;"><p style="color:#fff;">PDP</p><span><asp:Label ID="lblpdp" runat="server" Text="0"></asp:Label></span></a></li>
                  <% } %>
                 
                  <li onclick="" class="messageHover">
                  <a title="" class="plp-messge  notification-btn"><i class="fa fa-envelope" style="color:#ffffff;"></i><b><asp:Label ID="lblmessge" runat="server"></asp:Label></b></a>
					 <div class="notification notificationOverflow messageDown" id="rpt_messge">
						 <span>You have  <asp:Label ID="lblshowmessge" runat="server"></asp:Label> New Messages</span>
						
                            <%--<ul id="rpt_messge">                           
                            </ul>--%>
                        <%--<asp:Repeater ID="rpt_messge1" runat="server">
                        <ItemTemplate>
						 <a href='<%# Eval("notpage") %>' title="">                       
                          <img src='../Log/upload/Userimage/<%# Eval("userImage") %>'style="height:40px;width:40px;"> <%# Eval("name")%> <br />
                          <%# Eval("notsubject")%> 
                          <p><i class="fa fa-clock-o"></i><%# Eval("MinAgo")%> </p></a>
                        </ItemTemplate>
                    </asp:Repeater>	--%>
					 </div>

                 <li onclick="">
                 <a title="" class="notification-btn"><i class="fa fa-bell"></i><b>
                     <asp:Label ID="lblcountnotification" runat="server" 
                         meta:resourcekey="lblcountnotificationResource1"></asp:Label></b></a>
					 <div class="notification notificationOverflow" style=" max-height: 570px;overflow: auto; top:39px" id="rep_notification">
						 <span>You have  <asp:Label ID="lblshownotification" runat="server" 
                            meta:resourcekey="lblshownotificationResource1"></asp:Label> New Notification</span>
                         
                 	 <%--<asp:Repeater ID="rep_notification" runat="server">
                        <ItemTemplate>
						 <a href='<%# Eval("notpage") %>' title="">                       
                          <img src='../Log/upload/Userimage/<%# Eval("userImage") %>'style="height:40px;width:40px;"> <%# Eval("name")%> <br />
                          <%# Eval("notsubject")%> 
                          <p><i class="fa fa-clock-o"></i><%# Eval("MinAgo")%> </p></a>
                        </ItemTemplate>
                    </asp:Repeater>	--%>
                    </div>	
                    </li>			
			 </ul>
		 </div>
		
	</header>
        <div class="outer">
            <div class="menu" id="pt_menu_link">
                <div class="menu-profile" id="Div1">
                    <%--<img src="images/colleagus/2.jpg" />--%>
                    <a href="#" title="" onclick="return GetManagerGraph();">
                        <asp:Image ID="img1" ImageUrl="~/Organisation/images/sign-in1.jpg" runat="server"
                            meta:resourcekey="img1Resource1" />
                    </a>
                    <div class="menu-profile-hover">
                        <h1>
                            <%--<i>Brian </i>Kelly--%>
                            <i><span runat="server" id="span2"></span></i>
                        </h1>
                        <p>
                            <i class="fa fa-map-marker"></i><span runat="server" id="span3"></span>
                        </p>
                        <a href="OrgLogout.aspx" title=""><i class="fa fa-power-off"></i></a>
                        <div class="menu-profile-btns">
                            <h3>
                                <i class="fa fa-user blue"></i><a href="Profile.aspx" title="">
                                    <asp:Literal ID="Literal8" runat="server" meta:resourcekey="Profile" EnableViewState="false" /><%-- <%= CommonMessages.Profile%>--%>
                                </a>
                            </h3>
                            <p class="last-login">
                                <span runat="server" id="login" />
                            </p>
                        </div>
                    </div>
                </div>
                <%--<ul id="scrollbox7" style="width: 130px !important; padding-right: 10px !important; height:500px !important;">--%>
                <ul>
                    <asp:Panel runat="server" ID="competencePanel"></asp:Panel>
                    <%if (!string.IsNullOrWhiteSpace(Convert.ToString(Session["Compcompid"])))
                      {%>
                    <li><a class="tooltipMenu" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>myCompetence.aspx"
                        title='<%=GetToolTip("MyCompetenceTooltip.Text")%>' class="myCompetence"><i class="fa fa-bar-chart-o"></i>
                        <asp:Literal ID="Literal13" runat="server" meta:resourcekey="MyCompetence" EnableViewState="false" /></a></li>
                    <%} %>
                    <li><a class="tooltipMenu" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>Library.aspx"
                        title='<%=GetToolTip("LibraryTooltip.Text")%>'><i class="fa fa-book"></i>
                        <asp:Literal ID="Literal9" runat="server" meta:resourcekey="Library" EnableViewState="false" />
                    </a></li>


                    <li><a class="tooltipMenu" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>ForumAll.aspx"
                        title='<%=GetToolTip("KnowledgeShareTooltip.Text")%>' class="ForumAll"><i class="fa fa-graduation-cap"></i>
                        <asp:Literal ID="Literal18" runat="server" meta:resourcekey="KnowledgeShare" EnableViewState="false" /></a> </li>

                    <li><a class="tooltipMenu" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>chart.aspx"
                        title='<%=GetToolTip("MessageTooltip.Text")%>'><i class="fa fa-comment-o"></i>
                        <asp:Literal ID="Literal15" runat="server" meta:resourcekey="Message" EnableViewState="false" />
                    </a></li>
                    <asp:Panel runat="server" ID="activityPanel"></asp:Panel>
                    <%if (!string.IsNullOrWhiteSpace(Convert.ToString(Session["Aemcompid"])))
                      {%>
                    <li class=""><a class="tooltipMenu" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>ActivityLists.aspx" title='<%=GetToolTip("ActivityListsTooltip.Text")%>' class="ActivityLists">
                        <i class="fa fa-forward"></i>
                        <asp:Literal ID="Literal19" runat="server" meta:resourcekey="ActivityLists" EnableViewState="false" />
                        <%--<%= CommonMessages.Divisions%>--%>
                    </a></li>
                    <%} %>

                       <%if (!string.IsNullOrWhiteSpace(Convert.ToString(Session["Quescompid"])))
                  {%>

                       <li class="nestsubMenu"><a class="tooltipMenu" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>Question.aspx"
                    title='<%=GetToolTip("QuestionToolTip.Text")%>' class="Question"><i class="fa fa-question-circle"></i>
                    <asp:Literal ID="Literal36" runat="server" meta:resourcekey="Question" Text="Question" EnableViewState="false" />
                </a></li>
                <%} %>

                     <%if (!string.IsNullOrWhiteSpace(Convert.ToString(Session["Cemcompid"])))
                  {%>


                      <li class="nestsubMenu"><a class="tooltipMenu" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>CompanyDirection.aspx"
                    title='<%=GetToolTip("CompanyDirectionToolTip.Text")%>' class="Question"><i class="fa fa-tasks"></i>
                    <asp:Literal ID="Literal37" runat="server" meta:resourcekey="CompanyDirection" Text="Company Direction" EnableViewState="false" />
                </a></li>
                <%} %>


                    <li class=""><a class="tooltipMenu" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>PersonalDevelopmentPlan.aspx?umId=<%=Session["OrgUserId"].ToString()%>"
                        title='<%=GetToolTip("PersonalDevelopmentPlanToolTip.Text")%>' class="Category"><i class="fa fa-address-book-o"></i>
                        <asp:Literal ID="Literal39" runat="server" meta:resourcekey="PersonalDevelopmentPlan" EnableViewState="false" />
                    </a></li>

                    <li><a class="tooltipMenu" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>Setting.aspx"
                        title='<%=GetToolTip("SettingsTooltip.Text")%>'><i class="fa fa-gears"></i>
                        <asp:Literal ID="Literal12" runat="server" meta:resourcekey="Settings" EnableViewState="false" />
                    </a></li>

                    <%--More Menu button--%>
                    <li style="background-color: #243737;"><a href="#" onclick=" CollapseCalled(); ExampanCollapsMenu();" class="moreText" style="margin-left: 30px">

                        <asp:Label runat="server" ID="Label2" CssClass="lblExpand1" meta:resourcekey="Collaps" />

                    </a><i class="fa "></i></li>

                    <script>


                        //Cookie:

                        // Cookies
                        function createCookie(name, value, days) {
                            if (days) {
                                var date = new Date();
                                date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
                                var expires = "; expires=" + date.toGMTString();
                            }
                            else var expires = "";

                            document.cookie = name + "=" + value + expires + "; path=/";
                        }

                        function readCookie(name) {
                            var nameEQ = name + "=";
                            var ca = document.cookie.split(';');
                            for (var i = 0; i < ca.length; i++) {
                                var c = ca[i];
                                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                            }
                            return null;
                        }

                        function eraseCookie(name) {
                            createCookie(name, "", -1);
                        }
                        var CollapseClick = 0;
                        var shouldOpen;
                        function CollapseCalled() {

                            CollapseClick = 1;
                            //read Cookie 
                            if ($(".moreText").val() == "Expand") {
                                createCookie("CollapseClick", "Collapse", 1);
                            } else {
                                createCookie("CollapseClick", "Expand", 1);
                            }

                        }



                        function SetExpandCollapse() {

                            if (readCookie("CollapseClick") === null || readCookie("CollapseClick") === "") {

                                createCookie("CollapseClick", "Expand", 1);
                            }
                            var status = readCookie("CollapseClick");

                            if (status == "Collapse") {
                                $(".moreText").val("Collapse");
                                $(".moreText").text($(".hdnCollaps").text());

                                $('.nestMenu').show("slow");


                            }
                            else {


                                $(".moreText").val("Expand");
                                $('.nestMenu').hide("slow");

                                $(".moreText").text($(".hdnExpand").text());
                                $('.nestMenu').hide("slow");

                            }

                        }
                    </script>
                    <div style="display: none">
                        <asp:Label runat="server" ID="hdnExpand" CssClass="hdnExpand" meta:resourcekey="Expand" />
                        <asp:Label runat="server" ID="hdnCollaps" CssClass="hdnCollaps" meta:resourcekey="Collaps" />
                    </div>


                    <li class="nestMenu"><a class="tooltipMenu" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>add_employee.aspx"
                        title='<%=GetToolTip("EmployeeTooltip.Text")%>' class="add_employee"><i class="fa fa-users"></i>
                        <asp:Literal ID="Literal111" runat="server" meta:resourcekey="EmployeeResource" EnableViewState="false" />
                    </a></li>

                    <li class="nestMenu"><a class="tooltipMenu" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>pending_helprequest.aspx"
                        title='<%=GetToolTip("AllrequestTooltip.Text")%>' class="pending_helprequest"><i class="fa fa-check-square-o"></i>
                        <asp:Literal ID="Literal14" runat="server" meta:resourcekey="Allrequest" EnableViewState="false" />
                    </a></li>

                    <li class="nestMenu"><a class="tooltipMenu" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>Report.aspx"
                        title='<%=GetToolTip("ReportTooltip.Text")%>'><i class="fa fa-signal"></i>
                        <asp:Literal ID="Literal16" runat="server" meta:resourcekey="Report" EnableViewState="false" />
                    </a></li>



                    <%-- <li class="nestMenu"><a class="tooltipMenu" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>ActivityLists.aspx" 
                       title='<%=GetToolTip("ActivityListsTooltip.Text")%>' class="ActivityLists">
                       <i class="fa fa-forward"></i>
                    <asp:Literal ID="Literal19" runat="server" meta:resourcekey="ActivityLists" EnableViewState="false" />
                  
                   </a></li>--%>


                    <%--   <li><a href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>Calendar.aspx"
                        title=""><i class="fa fa-calendar"></i>Calendar</a></li>--%>
                    <li><a class="tooltipMenu" href="<%=ConfigurationManager.AppSettings["SitePath"].ToString()%>OrgLogout.aspx"
                        title='<%=GetToolTip("LogOutTooltip.Text")%>'><i class="fa fa-power-off"></i>
                        <asp:Literal ID="Literal17" runat="server" meta:resourcekey="LogOut" EnableViewState="false" /></a></li>
                    <p>
                        &nbsp;
                    </p>

                </ul>
            </div>
        </div>
        <div class="wrapper">
            <div class="container">
                <%--  <div style="width:100%; text-align:right;margin:-30px 0px -4px 0px;padding:0px 0px 0px 0px;">--%>
                <%--<div id="google_translate_element"></div>
                    </div>--%>
                <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </div>
        <asp:Label runat="server" ID="ChartLableActual" CssClass="ChartLableActual" meta:resourcekey="ChartLableActual" Style="display: none" />
        <asp:Label runat="server" ID="ChartLableTarget" CssClass="ChartLableTarget" meta:resourcekey="ChartLableTarget" Style="display: none" />

        <!-- Container -->
        </div><!-- Wrapper -->
        <!-- RAIn ANIMATED ICON-->
        <%--<script src="//code.jquery.com/ui/1.11.3/jquery-ui.js" type="text/javascript"></script>--%>
        <script src="../Scripts/sMain.js?version=1.0" type="text/javascript"></script>
        <%-- <script src="../Scripts/notify.js"></script>--%>
        <script src="../assets/js/jquery.noty.packaged.js"></script>
        <script type="text/javascript" src="../Scripts/craftpip-jquery-confirm-00f7956/js/jquery-confirm.js"></script>
        <script src="js/jquery.amaran.min.js" type="text/javascript"></script>
        <script src="../Scripts/tooltipster-master/dist/js/tooltipster.main.js"></script>
        <script src="../Scripts/tooltipster-master/dist/js/tooltipster.bundle.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                setTimeout(function () {

                    $(".tooltipMenu").tooltipster({
                        animation: 'fade',
                        delay: 200,
                        theme: 'tooltipster-shadow1',
                        side: 'left'

                    });
                }, 1000);
            });
        </script>
        <script type="text/javascript">
            $(document).ready(function () {
                "use strict";
                // Login.init(); // Init login JavaScript
                notificationShowHide();
                notification_Count();
                notificationChecker();

                setTimeout(function () {


                    $(".tooltipMenu").tooltipster({
                        animation: 'fade',
                        delay: 200,
                        theme: 'tooltipster-shadow1',
                        side: 'left'

                    });
                }, 1000);

            });
            function generateTimer(type, text, layout, timeout) {
                var n = noty({
                    text: text,
                    type: type,
                    dismissQueue: true,
                    timeout: timeout,
                    closeWith: ['click'],
                    layout: layout,
                    theme: 'defaultTheme',
                    maxVisible: 10
                });
                console.log('html: ' + n.options.id);
            }
            function ExampanCollapsMenu() {

                // $("html, body").animate({ scrollTop: 270 }, "slow");
                $('.nestMenu').toggle();
                if ($(".moreText").val() == "Expand") {
                    $(".moreText").val("Collapse");
                    $(".moreText").text($(".hdnCollaps").text());
                } else {
                    $(".moreText").val("Expand");
                    $(".moreText").text($(".hdnExpand").text());
                }

            }
            var interval1 = 0;

            function Defult_notification_Count() {
                $.ajax({
                    type: "POST",
                    cache: false,
                    async: true,
                    url: "webservice1.asmx/notification_Count",
                    data: "{'txtName':'" + '' + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        notificationCount = response.d;

                        if (notificationCount[0] != null && notificationCount[0] != 'undifined' && notificationCount.length > 0) {
                            Count = notificationCount[0];

                            if ("0" == notificationCount[0]) {
                                //                                   $("#lblmessge").text("0");
                                //                                   $("#lblshowmessge").text("0");
                                $("#lblmessge").text(Count);
                                $("#lblshowmessge").text(Count);
                                $("#rpt_messge").html('');
                                var html = "";
                                html += '<span>' + $("#hdnNotiMessageLabel").val() + '&nbsp;' + 0 + ' ' + $("#hdnNewMessage").val() + '</span>';
                                $("#rpt_messge").html(html);
                            }
                            else {
                                $("#lblmessge").text(Count);
                                $("#lblshowmessge").text(Count);
                                rep_notificationAll();
                            }
                            if ("0" == notificationCount[1]) {
                                //                                   $("#lblcountnotification").text("0");
                                //                                   $("#lblcountnotification").text("0");
                                $("#lblcountnotification").text(notificationCount[1]);
                                $("#lblshownotification").text(notificationCount[1]);

                                var html = "";
                                $("#rep_notification").html('');
                                html += '<span>' + $("#hdnNotiMessageLabel").val() + '&nbsp;' + 0 + ' ' + $("#hdnNewNotification").val() + '</span>';
                                $("#rep_notification").append(html);
                            }
                            else {
                                $("#lblcountnotification").text(notificationCount[1]);
                                $("#lblshownotification").text(notificationCount[1]);
                                rep_notificationAll();
                            }
                        }
                    },
                    failure: function (msg) {
                        alert(msg);
                        ReturnData = msg;
                    }
                });
            }
            function generate(type, text, layout) {
                var n = noty({
                    text: text,
                    type: type,
                    dismissQueue: true,
                    timeout: 10000,
                    closeWith: ['click'],
                    layout: layout,
                    theme: 'defaultTheme',
                    maxVisible: 10
                });
                console.log('html: ' + n.options.id);
            }

            function generate1(type, text) {
                var n = noty({
                    text: text,
                    type: type,
                    dismissQueue: true,
                    timeout: 10000,
                    closeWith: ['click'],
                    layout: "topCenter",
                    theme: 'defaultTheme',
                    maxVisible: 10
                });
                console.log('html: ' + n.options.id);
            }

            function generateAll() {
                generate('alert', 'alert');
                generate('information', 'information');
                generate('error', 'e');
                generate('warning', 'w');
                generate('notification', 'n');
                generate('success', 's');
            }

            window.onload = function () {
                var currentPage = document.URL; //window.location;          
                $('#pt_menu_link ul li a[href="' + currentPage + '"]').addClass('active_page');
                notificationShowHide();

            };

            function ActivateTooltip() {
                setTimeout(function () {


                    $(".tooltipMenu").tooltipster({
                        animation: 'fade',
                        delay: 200,
                        theme: 'tooltipster-shadow1',
                        side: 'left'

                    });
                }, 1000);
            }

            var icons = new Skycons();
            icons.set("rain", Skycons.RAIN);
            icons.play();
        </script>


        <script type="text/javascript">
            window.onload = function () {
                var currentPage = document.URL; //window.location;          
                $('#pt_menu_link ul li a[href="' + currentPage + '"]').addClass('active_page');
                notificationChecker();
                notification_Count();
                ActivateTooltip();
            };
            var ReturnData;
            var icons = new Skycons();
            icons.set("rain", Skycons.RAIN);
            icons.play();
            var ajex;
            var notificationData = [];
            function notificationChecker() {
                // alert('notificationChecker');
                //debugger;
                var imgLink;
                var userName;
                var subject;
                var refLink;
                var notificationType;
                /*Ref : http://hakanersu.github.io/AmaranJS/documentation/#options*/
                setInterval(function () {
                    if (ajex != null) {
                        ajex.abort();
                    }
                    ajex = $.ajax({
                        type: "POST",
                        cache: false,
                        async: true,
                        url: "webservice1.asmx/getNotificationPopUPmanager",

                        data: "{'txtName':'" + '' + "'}",

                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (response) {
                            notificationData = response.d;

                            if (notificationData[0] != null && notificationData[0] != 'undifined' && notificationData.length > 0) {
                                //debugger;
                                imgLink = notificationData[3];
                                userName = notificationData[0];
                                subject = notificationData[1];
                                refLink = notificationData[4];
                                notificationType = notificationData[2];

                                if (notificationType == "Invitation") {
                                    subject = $("#hdnInvitation").val();
                                }
                                else if (notificationType == "Message") {
                                    subject == $("#MsgChat").val();
                                }
                                else if (notificationType == "Accepted") {
                                    subject = $("#hdnAccepted").val();
                                }
                                else if (notificationType == "ProHelp") {
                                    subject = $("#hdnProHelp").val();
                                }
                                else if (notificationType == "Invite") {
                                    subject = $("#hdnInvite").val();
                                }
                                else if (notificationType == "Notificati") {
                                    subject = $("#hdnSetComp").val();
                                }
                                else if (notificationType == "UserAccept") {
                                    subject = $("#hdnAcceptComp").val();
                                }
                                else if (notificationType == "ActReq") {
                                    subject = $("#hdnActivityRequest").val();
                                }
                                else if (notificationType == "ActCom") {
                                    subject = $("#hdnActivityComplete").val();
                                }
                                else if (notificationType == "ActReReq") {
                                    subject = $("#hdnActivityReRequest").val();
                                }
                                else if (notificationType == "pdpReq") {
                                    subject = $("#hdnPDPApprove").val();
                                }
                                else if (notificationType == "metPub") {
                                    subject = $("#hdnNewMeetingPublish").val();
                                }
                                else if (notificationType == "metPubDoc") {
                                    subject = $("#hdnNewMeetingDoc").val();
                                }
                                else if (notificationType == "quesDia") {
                                    subject = $("#hdnGeneralDialogue").val();
                                }
                                else if (notificationType == "actRes") {
                                    subject = $("#hdnApproveActivityRequest").val();
                                }
                                else if (notificationType == "actRej") {
                                    subject = $("#hdnApproveActivityReject").val();
                                }
                                else if (notificationType == "actCom") {
                                    subject = $("#hdnApproveActivityComplete").val();
                                }
                                else if (notificationType == "quesPub") {
                                    subject = $("#hdnQuestionPublish").val();
                                }
                                else if (notificationType == "comdirPub") {
                                    subject = $("#hdnCompanyDirPublish").val();
                                }
                                
                                $.amaran({
                                    content: {
                                        img: imgLink,//'http://api.randomuser.me/0.2/portraits/men/36.jpg',
                                        user: $("." + notificationType).text(),//'John Walker',
                                        message: '<div class="ns-thumb"><p>' + $("#hdnFrom").val() + '  <a class="notificationUrlRedirect" href="' + refLink + '">' + userName + '</a></br>' + subject + '</p></div>',
                                        //message: '<div class="ns-thumb"><p><a href="' + refLink + '">' + userName + '</a>' + subject + '</p></div>',
                                        info: 'my_birthday.mp4',
                                        icon: 'fa fa-user',
                                    },
                                    theme: 'user',
                                    delay: 30000,
                                    closeButton: true,
                                    cssanimationIn: 'swing',
                                    cssanimationOut: 'bounceOut'
                                });
                            }


                        },
                        failure: function (msg) {

                            alert(msg);
                            ReturnData = msg;
                        }
                    });


                }, 40000);
            }


            var interval1 = 0;
            var Count;
            var notificationCount = [];
            function notification_Count() {

                Defult_notification_Count();
                interval1 = setInterval(function () {
                    if (ajex != null) {
                        ajex.abort();
                    }
                    ajex = Defult_notification_Count();
                }, 80000);
            }

            function Defult_notification_Count1() {
                $.ajax({
                    type: "POST",
                    cache: false,
                    async: true,
                    url: "webservice1.asmx/notification_Count",
                    data: "{'txtName':'" + '' + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        notificationCount = response.d;

                        if (notificationCount[0] != null && notificationCount[0] != 'undifined' && notificationCount.length > 0) {
                            Count = notificationCount[0];

                            if ("0" == notificationCount[1]) {

                                $("#lblcountnotification").text(notificationCount[1]);
                                $("#lblshownotification").text(notificationCount[1]);
                            }
                            else {
                                $("#lblcountnotification").text(notificationCount[1]);
                                $("#lblshownotification").text(notificationCount[1]);
                                rep_notificationAll();
                            }
                        }
                    },
                    failure: function (msg) {
                        alert(msg);
                        ReturnData = msg;
                    }
                });
            }
            function rep_notificationAll() {
                var notification = [];
                $.ajax({
                    type: "POST",
                    cache: false,
                    async: true,
                    url: "webservice1.asmx/rep_notificationAll",
                    data: "{'txtName':'" + '' + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        notification = response.d;

                        if (notification[0] != null && notification[0] != 'undifined' && notification.length > 0) {
                            if (notification[0] != "0") {
                                Randernotification(notification[0]);
                            }
                        }
                        if (notification[1] != null && notification[1] != 'undifined' && notification.length > 0) {
                            if (notification[1] != "0") {
                                Randermessge(notification[1]);
                            }
                        }
                    },
                    failure: function (msg) {
                        alert(msg);
                        ReturnData = msg;
                    }
                });
            }
            function Randermessge(notification) {
                var count = $("#lblshowmessge").text();

                var html = "";
                $("#rpt_messge").html('');
                var dataUser = JSON.parse(notification);
                html += '<span>' + $("#hdnNotiMessageLabel").val() + '&nbsp;' + count + ' ' + $("#hdnNewMessage").val() + '</span>';
                //html += '<span>You have&nbsp;' + count + ' New Messages</span>';

                $.each(dataUser.Table, function (i, item) {
                    item.notsubject = $("#hdnMessage").val();
                    html += '<a href=' + item.notpage + ' title=""><img src="../Log/upload/Userimage/' + item.userImage + '" alt="" style="height:40px;width:40px;" />' + $("#hdnFrom").val() + item.name + '<br />';
                    html += item.notsubject + '<p><i class="fa fa-clock-o"></i>' + item.MinAgo + '</p></a>';

                    // item.UserID
                    // item.Username

                });
                $("#rpt_messge").append(html);

            }


            function rep_notificationAll_OLD() {
                var notification = [];
                $.ajax({
                    type: "POST",
                    cache: false,
                    async: true,
                    url: "webservice1.asmx/rep_notificationAll_manager",
                    data: "{'txtName':'" + '' + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (response) {
                        notification = response.d;

                        if (notification[0] != null && notification[0] != 'undifined' && notification.length > 0) {
                            if (notification[0] != "0") {
                                Randernotification(notification[0]);
                            }
                        }
                    },
                    failure: function (msg) {
                        alert(msg);
                        ReturnData = msg;
                    }
                });
            }


            function Randernotification(notification) {

                var count = $("#lblshownotification").text();

                var html = "";
                $("#rep_notification").html('');
                var dataUser = JSON.parse(notification);
                html += '<span>' + $("#hdnNotiMessageLabel").val() + '&nbsp;' + count + ' ' + $("#hdnNewNotification").val() + '</span>';
                // html += '<span>You have' + count + ' New Notification</span>';
                $.each(dataUser.Table, function (i, item) {

                    //if (item.nottype == "Invitation") {
                    //    item.notsubject = $("#hdnInvitation").val();
                    //}
                    //else if (item.nottype == "Accepted") {
                    //    item.notsubject = $("#hdnAccepted").val();
                    //}
                    //else if (item.nottype == "ProHelp") {
                    //    item.notsubject = $("#hdnProHelp").val();
                    //}
                    //else if (item.nottype == "Invite") {
                    //    item.notsubject = $("#hdnInvite").val();
                    //}
                    //else if (item.nottype == "Notificati") {
                    //    item.notsubject = $("#hdnSetComp").val();
                    //}
                    //else if (item.nottype == "UserAccept") {
                    //    item.notsubject = $("#hdnAcceptComp").val();
                    //}
                    //else if (item.nottype == "ActReq") {
                    //    item.notsubject = $("#hdnActivityRequest").val();
                    //}

                    //else if (item.nottype == "actRes") {
                    //    item.notsubject = $("#hdnActivityApprove").val();
                    //}
                    //else if (item.nottype == "actRej") {
                    //    item.notsubject = $("#hdnActivityReject").val();
                    //}
                    //else if (item.nottype == "actCom") {
                    //    item.notsubject = $("#hdnActivityComplete").val();
                    //}
                    if (item.nottype == "Invitation") {
                        item.notsubject = $("#hdnInvitation").val();
                    }
                    else if (item.nottype == "Message") {
                        item.notsubject == $("#MsgChat").val();
                    }
                    else if (item.nottype == "Accepted") {
                        item.notsubject = $("#hdnAccepted").val();
                    }
                    else if (item.nottype == "ProHelp") {
                        item.notsubject = $("#hdnProHelp").val();
                    }
                    else if (item.nottype == "Invite") {
                        item.notsubject = $("#hdnInvite").val();
                    }
                    else if (item.nottype == "Notificati") {
                        item.notsubject = $("#hdnSetComp").val();
                    }
                    else if (item.nottype == "UserAccept") {
                        item.notsubject = $("#hdnAcceptComp").val();
                    }
                    else if (item.nottype == "ActReq") {
                        item.notsubject = $("#hdnActivityRequest").val();
                    }
                    else if (item.nottype == "ActCom") {
                        item.notsubject = $("#hdnActivityComplete").val();
                    }
                    else if (item.nottype == "ActReReq") {
                        item.notsubject = $("#hdnActivityReRequest").val();
                    }
                    else if (item.nottype == "pdpReq") {
                        item.notsubject = $("#hdnPDPApprove").val();
                    }
                    else if (item.nottype == "metPub") {
                        item.notsubject = $("#hdnNewMeetingPublish").val();
                    }
                    else if (item.nottype == "metPubDoc") {
                        item.notsubject = $("#hdnNewMeetingDoc").val();
                    }
                    else if (item.nottype == "quesDia") {
                        item.notsubject = $("#hdnGeneralDialogue").val();
                    }
                    else if (item.nottype == "actRes") {
                        item.notsubject = $("#hdnApproveActivityRequest").val();
                    }
                    else if (item.nottype == "actRej") {
                        item.notsubject = $("#hdnApproveActivityReject").val();
                    }
                    else if (item.nottype == "actCom") {
                        item.notsubject = $("#hdnApproveActivityComplete").val();
                    }
                    else if (item.nottype == "quesPub") {
                        item.notsubject = $("#hdnQuestionPublish").val();
                    }
                    else if (item.nottype == "comdirPub") {
                        item.notsubject = $("#hdnCompanyDirPublish").val();
                    }
                    html += '<a href=' + item.notpage + ' title=""><img src="../Log/upload/Userimage/' + item.userImage + '" alt="" style="height:40px;width:40px;" />' + $("#hdnFrom").val() + item.name + '<br />';
                    html += item.notsubject + '<p><i class="fa fa-clock-o"></i>' + item.MinAgo + '</p></a>';

                });

                $("#rep_notification").append(html);

            }




        </script>

        <div style="display: none">
            <asp:Label ID="Invitation" runat="server" CssClass="Invitation" meta:resourcekey="Invitation" />
            <asp:Label ID="Accepted" runat="server" CssClass="Accepted" meta:resourcekey="Accepted" />
            <asp:Label ID="ProHelp" runat="server" CssClass="ProHelp" meta:resourcekey="ProHelp" />
            <asp:Label ID="Invite" runat="server" CssClass="Invite" meta:resourcekey="Invite" />
            <asp:Label ID="UserAccept" runat="server" CssClass="UserAccept" meta:resourcekey="UserAccept" />
        </div>
    </form>

    <script type="text/javascript">

        $(document).ready(function () {
            //alert();
            //ExampanCollapsMenu();

        });


    </script>
     
</body>
</html>
