//
// Pickadate.js
// --------------------------------------------------

@import "../general/mixins.less";
@import "../general/variables.less";

/* ==========================================================================
   $BASE-PICKER
   ========================================================================== */
/* ==========================================================================
   $VARIABLES
   ========================================================================== */
/**
 * Base colors
 */
/**
 * Backgrounds
 */
/**
 * Borders
 */
/**
 * Buttons
 */
/**
 * Picker base
 */
/**
 * Date picker options
 */
/**
 * Theme configurations
 */
/* ==========================================================================
   $MIXINS
   ========================================================================== */
/**
 * Common picker item states
 */
/**
 * Opacity
 */
/**
 * Vendor prefixes
 */
/**
 * Note: the root picker element should __NOT__ be styled
 * more than what’s here. Style the `.picker__holder` instead.
 */
.picker {
  font-size: 16px;
  text-align: left;
  line-height: 1.2;
  color: #000000;
  position: absolute;
  z-index: 10000;
}
/**
 * The picker input element.
 */
.picker__input {
  cursor: default;

  &[readonly] {
  	background-color: #fff !important;
  	color: @textColor !important;
  }
}
/**
 * When the picker is opened, the input element is “activated”.
 */
.picker__input.picker__input--active {
  border-color: @mainColor;
}
/**
 * The holder is the only “scrollable” top-level container element.
 */
.picker__holder {
  width: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/*!
 * Default mobile-first, responsive styling for pickadate.js
 * Demo: https://amsul.github.io/pickadate.js/themes.htm#default
 */
/* ==========================================================================
   $VARIABLES
   ========================================================================== */
/**
 * Base colors
 */
/**
 * Backgrounds
 */
/**
 * Borders
 */
/**
 * Buttons
 */
/**
 * Picker base
 */
/**
 * Date picker options
 */
/**
 * Theme configurations
 */
/* ==========================================================================
   $MIXINS
   ========================================================================== */
/**
 * Common picker item states
 */
/**
 * Opacity
 */
/**
 * Vendor prefixes
 */
/**
 * Make the holder and frame fullscreen.
 */
.picker__holder,
.picker__frame {
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
}
/**
 * The holder should overlay the entire screen.
 */
.picker__holder {
  position: fixed;
  -webkit-transition: background 0.15s ease-out, top 0s 0.15s;
  -moz-transition: background 0.15s ease-out, top 0s 0.15s;
  transition: background 0.15s ease-out, top 0s 0.15s;
}
/**
 * The frame that bounds the box contents of the picker.
 */
.picker__frame {
  position: absolute;
  margin: 0 auto;
  min-width: 256px;
  max-width: 666px;
  width: 100%;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
@media (min-height: 33.875em) {
  .picker__frame {
    overflow: visible;
    top: auto;
    bottom: -100%;
    max-height: 80%;
  }
}
@media (min-height: 40.125em) {
  .picker__frame {
    margin-bottom: 7.5%;
  }
}
/**
 * The wrapper sets the stage to vertically align the box contents.
 */
.picker__wrap {
  display: table;
  width: 100%;
  height: 100%;
}
@media (min-height: 33.875em) {
  .picker__wrap {
    display: block;
  }
}
/**
 * The box contains all the picker contents.
 */
.picker__box {
  background: #ffffff;
  display: table-cell;
  vertical-align: middle;
}
@media (min-height: 26.5em) {
  .picker__box {
    font-size: 1.25em;
  }
}
@media (min-height: 33.875em) {
  .picker__box {
    display: block;
    font-size: 1.33em;
    border: 1px solid #777777;
    border-top-color: #898989;
    border-bottom-width: 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    -webkit-box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
    box-shadow: 0 12px 36px 16px rgba(0, 0, 0, 0.24);
  }
}
@media (min-height: 40.125em) {
  .picker__box {
    font-size: 1.5em;
    border-bottom-width: 1px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
}
/**
 * When the picker opens...
 */
.picker--opened .picker__holder {
  top: 0;
  background: transparent;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1E000000,endColorstr=#1E000000)";
  zoom: 1;
  background: rgba(0, 0, 0, 0.32);
  -webkit-transition: background 0.15s ease-out;
  -moz-transition: background 0.15s ease-out;
  transition: background 0.15s ease-out;
}
.picker--opened .picker__frame {
  top: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
@media (min-height: 33.875em) {
  .picker--opened .picker__frame {
    top: auto;
    bottom: 0;
  }
}
/**
 * For `large` screens, transform into an inline picker.
 */


/* * * * * * * * * * * *
 * Date
 * * * * * * * * * * * */


/* ==========================================================================
   $BASE-DATE-PICKER
   ========================================================================== */
/* ==========================================================================
   $VARIABLES
   ========================================================================== */
/**
 * Base colors
 */
/**
 * Backgrounds
 */
/**
 * Borders
 */
/**
 * Buttons
 */
/**
 * Picker base
 */
/**
 * Date picker options
 */
/**
 * Theme configurations
 */
/* ==========================================================================
   $MIXINS
   ========================================================================== */
/**
 * Common picker item states
 */
/**
 * Opacity
 */
/**
 * Vendor prefixes
 */
/**
 * The picker box.
 */
.picker__box {
  padding: 0 1em;
}
/**
 * The header containing the month and year stuff.
 */
.picker__header {
  text-align: center;
  position: relative;
  margin-top: .75em;
}
/**
 * The month and year labels.
 */
.picker__month,
.picker__year {
  font-weight: 500;
  display: inline-block;
  margin-left: .25em;
  margin-right: .25em;
}
.picker__year {
  color: #999999;
  font-size: .8em;
  font-style: italic;
}
/**
 * The month and year selectors.
 */
.picker__select--month,
.picker__select--year {
  font-size: .8em;
  border: 1px solid #b7b7b7;
  height: 2.5em;
  padding: .66em .25em;
  margin-left: .25em;
  margin-right: .25em;
  margin-top: -0.5em;
}
.picker__select--month {
  width: 35%;
}
.picker__select--year {
  width: 22.5%;
}
.picker__select--month:focus,
.picker__select--year:focus {
  border-color: @mainColor;
}
/**
 * The month navigation buttons.
 */
.picker__nav--prev,
.picker__nav--next {
  position: absolute;
  top: -0.33em;
  padding: .5em 1.33em;
  width: 1em;
  height: 1em;
  .box-sizing(content-box);
}
.picker__nav--prev {
  left: -1em;
  padding-right: 1.5em;
}
.picker__nav--next {
  right: -1em;
  padding-left: 1.5em;
}
.picker__nav--prev:before,
.picker__nav--next:before {
  content: " ";
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-right: 0.75em solid #000000;
  width: 0;
  height: 0;
  display: block;
  margin: 0 auto;
}
.picker__nav--next:before {
  border-right: 0;
  border-left: 0.75em solid #000000;
}
.picker__nav--prev:hover,
.picker__nav--next:hover {
  cursor: pointer;
  color: #000000;
  background: lighten(@mainColor, 30%);
}
.picker__nav--disabled,
.picker__nav--disabled:hover,
.picker__nav--disabled:before,
.picker__nav--disabled:before:hover {
  cursor: default;
  background: none;
  border-right-color: #f5f5f5;
  border-left-color: #f5f5f5;
}
/**
 * The calendar table of dates
 */
.picker__table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: inherit;
  width: 100%;
  margin-top: .75em;
  margin-bottom: .5em;
}
@media (min-height: 33.875em) {
  .picker__table {
    margin-bottom: .75em;
  }
}
.picker__table td {
  margin: 0;
  padding: 0;
}
/**
 * The weekday labels
 */
.picker__weekday {
  width: 14.285714286%;
  font-size: .75em;
  padding-bottom: .25em;
  color: #999999;
  font-weight: 500;
  text-align: center;
  /* Increase the spacing a tad */

}
@media (min-height: 33.875em) {
  .picker__weekday {
    padding-bottom: .5em;
  }
}
/**
 * The days on the calendar
 */
.picker__day {
  padding: .3125em 0;
  font-weight: 200;
  border: 1px solid transparent;
}
.picker__day--today {
  color: @mainColor;
  position: relative;
}
.picker__day--today:before {
  content: " ";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 0;
  height: 0;
  border-top: 0.5em solid darken(@mainColor, 30%);
  border-left: .5em solid transparent;
}
.picker__day--selected,
.picker__day--selected:hover {
  border-color: @mainColor;
}
.picker__day--highlighted {
  background: lighten(@mainColor, 30%);
}
.picker__day--disabled:before {
  border-top-color: #aaaaaa;
}
.picker__day--outfocus {
  color: #dddddd;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=66)";
  filter: alpha(opacity=66);
  -moz-opacity: 0.66;
  opacity: 0.66;
}
.picker__day--infocus:hover,
.picker__day--outfocus:hover {
  cursor: pointer;
  color: #000000;
  background: lighten(@mainColor, 30%);
}
.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
  background: @mainColor;
  color: #ffffff;
}
.picker__day--disabled,
.picker__day--disabled:hover {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #dddddd;
  cursor: default;
}
.picker__day--highlighted.picker__day--disabled,
.picker__day--highlighted.picker__day--disabled:hover {
  background: #bbbbbb;
}
/**
 * The footer containing the "today" and "clear" buttons.
 */
.picker__footer {
  text-align: center;
}
.picker__button--today,
.picker__button--clear {
  border: 1px solid #ffffff;
  background: #ffffff;
  font-size: .8em !important;
  padding: .66em 0;
  font-weight: bold;
  width: 50%;
  display: inline-block;
  vertical-align: bottom;
}
.picker__button--today:hover,
.picker__button--clear:hover {
  cursor: pointer;
  color: #000000;
  background: lighten(@mainColor, 30%);
  border-bottom-color: lighten(@mainColor, 30%);
}
.picker__button--today:focus,
.picker__button--clear:focus {
  background: lighten(@mainColor, 30%);
  border-color: @mainColor;
  outline: none;
}
.picker__button--today:before,
.picker__button--clear:before {
  position: relative;
  display: inline-block;
  height: 0;
}
.picker__button--today:before {
  content: " ";
  margin-right: .45em;
  top: -0.05em;
  width: 0;
  border-top: 0.66em solid darken(@mainColor, 30%);
  border-left: .66em solid transparent;
}
.picker__button--clear:before {
  content: "\D7";
  margin-right: .35em;
  top: -0.1em;
  color: #ee2200;
  vertical-align: top;
  font-size: 1.1em;
}

/* ==========================================================================
   $DEFAULT-DATE-PICKER
   ========================================================================== */
/* ==========================================================================
   $VARIABLES
   ========================================================================== */
/**
 * Base colors
 */
/**
 * Backgrounds
 */
/**
 * Borders
 */
/**
 * Buttons
 */
/**
 * Picker base
 */
/**
 * Date picker options
 */
/**
 * Theme configurations
 */
/* ==========================================================================
   $MIXINS
   ========================================================================== */
/**
 * Common picker item states
 */
/**
 * Opacity
 */
/**
 * Vendor prefixes
 */




/* * * * * * * * * * * *
 * Time
 * * * * * * * * * * * */


/* ==========================================================================
   $BASE-TIME-PICKER
   ========================================================================== */
/* ==========================================================================
   $VARIABLES
   ========================================================================== */
/**
 * Base colors
 */
/**
 * Backgrounds
 */
/**
 * Borders
 */
/**
 * Buttons
 */
/**
 * Picker base
 */
/**
 * Date picker options
 */
/**
 * Theme configurations
 */
/* ==========================================================================
   $MIXINS
   ========================================================================== */
/**
 * Common picker item states
 */
/**
 * Opacity
 */
/**
 * Vendor prefixes
 */
/**
 * The list of times.
 */
.picker__list {
  list-style: none;
  padding: 0.75em 0 4.2em;
  margin: 0;
}
/**
 * The times on the clock.
 */
.picker__list-item {
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
  margin-bottom: -1px;
  position: relative;
  background: #ffffff;
  padding: .75em 1.25em;
}
@media (min-height: 46.75em) {
  .picker__list-item {
    padding: .5em 1em;
  }
}
/* Hovered time */
.picker__list-item:hover {
  cursor: pointer;
  color: #000000;
  background: lighten(@mainColor, 30%);
  border-color: @mainColor;
  z-index: 10;
}
/* Selected time */
.picker__list-item--selected,
.picker__list-item--selected:hover {
  border-color: @mainColor;
  z-index: 10;
}
/* Highlighted time */
.picker__list-item--highlighted {
  background: lighten(@mainColor, 30%);
}
/* Highlighted and hovered/focused time */
.picker__list-item--highlighted:hover,
.picker--focused .picker__list-item--highlighted {
  background: @mainColor;
  color: #ffffff;
}
/* Disabled time */
.picker__list-item--disabled,
.picker__list-item--disabled:hover {
  background: #f5f5f5;
  border-color: #f5f5f5;
  color: #dddddd;
  cursor: default;
  border-color: #dddddd;
  z-index: auto;
}
/**
 * The clear button
 */
.picker--time .picker__button--clear {
  display: block;
  width: 80%;
  margin: 1em auto 0;
  padding: 1em 1.25em;
  background: none;
  border: 0;
  font-weight: 500;
  font-size: .67em;
  text-align: center;
  text-transform: uppercase;
  color: #666;
}
.picker--time .picker__button--clear:hover,
.picker--time .picker__button--clear:focus {
  color: #000000;
  background: lighten(@mainColor, 30%);
  background: #ee2200;
  border-color: #ee2200;
  cursor: pointer;
  color: #ffffff;
  outline: none;
}
.picker--time .picker__button--clear:before {
  top: -0.25em;
  color: #666;
  font-size: 1.25em;
  font-weight: bold;
}
.picker--time .picker__button--clear:hover:before,
.picker--time .picker__button--clear:focus:before {
  color: #ffffff;
}

/* ==========================================================================
   $DEFAULT-TIME-PICKER
   ========================================================================== */
/* ==========================================================================
   $VARIABLES
   ========================================================================== */
/**
 * Base colors
 */
/**
 * Backgrounds
 */
/**
 * Borders
 */
/**
 * Buttons
 */
/**
 * Picker base
 */
/**
 * Date picker options
 */
/**
 * Theme configurations
 */
/* ==========================================================================
   $MIXINS
   ========================================================================== */
/**
 * Common picker item states
 */
/**
 * Opacity
 */
/**
 * Vendor prefixes
 */
/**
 * The frame the bounds the time picker.
 */
.picker--time .picker__frame {
  min-width: 256px;
  max-width: 320px;
}
/**
 * The picker box.
 */
.picker--time .picker__box {
  font-size: 1em;
  background: #f2f2f2;
  padding: 0;
}
@media (min-height: 40.125em) {
  .picker--time .picker__box {
    margin-bottom: 5em;
  }
}